{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"elasticgumbyagenticservice",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"ElasticGumbyAgenticService",
    "serviceId":"ElasticGumbyAgentic",
    "signatureVersion":"v4",
    "signingName":"eg-agenticapi",
    "targetPrefix":"ElasticGumbyAgenticService",
    "uid":"elasticgumbyagentic-2018-05-10"
  },
  "operations":{
    "CloseHitlTask":{
      "name":"CloseHitlTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CloseHitlTaskRequest"},
      "output":{"shape":"CloseHitlTaskResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "idempotent":true
    },
    "CompleteArtifactUpload":{
      "name":"CompleteArtifactUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CompleteArtifactUploadRequest"},
      "output":{"shape":"CompleteArtifactUploadResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to let ATX Foundation know that upload is complete.</p>"
    },
    "CopyArtifact":{
      "name":"CopyArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyArtifactRequest"},
      "output":{"shape":"CopyArtifactResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to copy artifacts from artifact store bucket to public bucket</p>",
      "idempotent":true
    },
    "CreateArtifactDownloadUrl":{
      "name":"CreateArtifactDownloadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateArtifactDownloadUrlRequest"},
      "output":{"shape":"CreateArtifactDownloadUrlResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to generate an S3 presigned URL for downloading an artifact.</p>"
    },
    "CreateArtifactUploadUrl":{
      "name":"CreateArtifactUploadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateArtifactUploadUrlRequest"},
      "output":{"shape":"CreateArtifactUploadUrlResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to generate an S3 presigned URL for uploading an artifact.</p>"
    },
    "CreateHitlTask":{
      "name":"CreateHitlTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHitlTaskRequest"},
      "output":{"shape":"CreateHitlTaskResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to trigger a Human-In-The-Loop request.</p>",
      "idempotent":true
    },
    "CreateWorklog":{
      "name":"CreateWorklog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorklogRequest"},
      "output":{"shape":"CreateWorklogResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API to allow ingestion of agent/ HITL/ job level worklogs</p>",
      "idempotent":true
    },
    "DeleteJobPlanStep":{
      "name":"DeleteJobPlanStep",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteJobPlanStepRequest"},
      "output":{"shape":"DeleteJobPlanStepResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to delete an existing step of the job plan.</p>",
      "idempotent":true
    },
    "DeregisterKnowledgeBaseDocument":{
      "name":"DeregisterKnowledgeBaseDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterKnowledgeBaseDocumentRequest"},
      "output":{"shape":"DeregisterKnowledgeBaseDocumentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to deregister a document from knowledge base</p>"
    },
    "GetAgentInstance":{
      "name":"GetAgentInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAgentInstanceRequest"},
      "output":{"shape":"GetAgentInstanceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used to Get details about a specific agent's invocation</p>",
      "readonly":true
    },
    "GetAgentVersion":{
      "name":"GetAgentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAgentVersionRequest"},
      "output":{"shape":"GetAgentVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ]
    },
    "GetArtifactMetadata":{
      "name":"GetArtifactMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetArtifactMetadataRequest"},
      "output":{"shape":"GetArtifactMetadataResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>This API is used to retrieve metadata about an artifact</p>",
      "readonly":true
    },
    "GetConnector":{
      "name":"GetConnector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectorRequest"},
      "output":{"shape":"GetConnectorResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to get resource level details of connector by connectorId</p>",
      "readonly":true
    },
    "GetHitlTask":{
      "name":"GetHitlTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetHitlTaskRequest"},
      "output":{"shape":"GetHitlTaskResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to Get the status for a Human-In-The-Loop request.</p>",
      "readonly":true
    },
    "GetJob":{
      "name":"GetJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRequest"},
      "output":{"shape":"GetJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to Get details about a Transformation Job</p>",
      "readonly":true
    },
    "GetKnowledgeBaseIngestion":{
      "name":"GetKnowledgeBaseIngestion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetKnowledgeBaseIngestionRequest"},
      "output":{"shape":"GetKnowledgeBaseIngestionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to get ingestion details</p>",
      "readonly":true
    },
    "GetTask":{
      "name":"GetTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTaskRequest"},
      "output":{"shape":"GetTaskResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>This API is modeled similarly to the corresponding A2A protocol method (https://a2a-protocol.org/latest/specification/#73-tasksget).</p>"
    },
    "GetTemporaryCredentialsForConnector":{
      "name":"GetTemporaryCredentialsForConnector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTemporaryCredentialsForConnectorRequest"},
      "output":{"shape":"GetTemporaryCredentialsForConnectorResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AssumeRoleException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to get temporary credentials and details related to data source</p>"
    },
    "GetUsage":{
      "name":"GetUsage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUsageRequest"},
      "output":{"shape":"GetUsageResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used to get a customers usage of a resource type</p>"
    },
    "InvokeAgent":{
      "name":"InvokeAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"InvokeAgentRequest"},
      "output":{"shape":"InvokeAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used to Invoke Agents</p>"
    },
    "ListAgentInstances":{
      "name":"ListAgentInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAgentInstancesRequest"},
      "output":{"shape":"ListAgentInstancesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used to List all agent invocations for a specific transformation job</p>",
      "readonly":true
    },
    "ListAgents":{
      "name":"ListAgents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAgentsRequest"},
      "output":{"shape":"ListAgentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ]
    },
    "ListArtifacts":{
      "name":"ListArtifacts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListArtifactsRequest"},
      "output":{"shape":"ListArtifactsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to list artifacts for a transformation job</p>",
      "readonly":true
    },
    "ListConnectors":{
      "name":"ListConnectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListConnectorsRequest"},
      "output":{"shape":"ListConnectorsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to get list of all the connectors available based on the agent Type</p>",
      "readonly":true
    },
    "ListHitlTasks":{
      "name":"ListHitlTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHitlTasksRequest"},
      "output":{"shape":"ListHitlTasksResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "readonly":true
    },
    "ListJobPlanSteps":{
      "name":"ListJobPlanSteps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListJobPlanStepsRequest"},
      "output":{"shape":"ListJobPlanStepsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to list the plan steps for a job</p>",
      "readonly":true
    },
    "ListWorklogs":{
      "name":"ListWorklogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorklogsRequest"},
      "output":{"shape":"ListWorklogsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API to allow retrieval of worklogs for a specific job.</p>",
      "idempotent":true
    },
    "PreProdTestOperation":{
      "name":"PreProdTestOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PreProdTestOperationRequest"},
      "output":{"shape":"PreProdTestOperationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>Internal API meant for testing.</p>"
    },
    "PublishMeteringEvent":{
      "name":"PublishMeteringEvent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PublishMeteringEventRequest"},
      "output":{"shape":"PublishMeteringEventResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ]
    },
    "PutJobPlan":{
      "name":"PutJobPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutJobPlanRequest"},
      "output":{"shape":"PutJobPlanResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to put a job plan</p>",
      "idempotent":true
    },
    "RefreshAuthToken":{
      "name":"RefreshAuthToken",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RefreshAuthTokenRequest"},
      "output":{"shape":"RefreshAuthTokenResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used to generate a new agent authorization token with a later expiration time</p>"
    },
    "RegisterKnowledgeBaseDocument":{
      "name":"RegisterKnowledgeBaseDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterKnowledgeBaseDocumentRequest"},
      "output":{"shape":"RegisterKnowledgeBaseDocumentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to register a document to knowledge base</p>"
    },
    "RetrieveFromKnowledgeBase":{
      "name":"RetrieveFromKnowledgeBase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetrieveFromKnowledgeBaseRequest"},
      "output":{"shape":"RetrieveFromKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to retrieve information from knowledge base</p>"
    },
    "RollbackMeteringEvent":{
      "name":"RollbackMeteringEvent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RollbackMeteringEventRequest"},
      "output":{"shape":"RollbackMeteringEventResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ]
    },
    "SendMessage":{
      "name":"SendMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendMessageRequest"},
      "output":{"shape":"SendMessageResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>This API is modeled similarly to the corresponding A2A protocol method https://google-a2a.github.io/A2A/specification/#71-messagesend.</p>"
    },
    "StartHitlTask":{
      "name":"StartHitlTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartHitlTaskRequest"},
      "output":{"shape":"StartHitlTaskResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "idempotent":true
    },
    "StartKnowledgeBaseIngestion":{
      "name":"StartKnowledgeBaseIngestion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartKnowledgeBaseIngestionRequest"},
      "output":{"shape":"StartKnowledgeBaseIngestionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to start ingestion to knowledge base</p>"
    },
    "StopAgent":{
      "name":"StopAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAgentRequest"},
      "output":{"shape":"StopAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ]
    },
    "TestOperation":{
      "name":"TestOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestOperationRequest"},
      "output":{"shape":"TestOperationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>Internal API meant for testing.</p>"
    },
    "UpdateAgentInstance":{
      "name":"UpdateAgentInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAgentInstanceRequest"},
      "output":{"shape":"UpdateAgentInstanceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used to Update details like status, output artifact, etc. for their agents.</p>"
    },
    "UpdateJobPlanStep":{
      "name":"UpdateJobPlanStep",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateJobPlanStepRequest"},
      "output":{"shape":"UpdateJobPlanStepResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to update fields of an existing step of the job plan.</p>",
      "idempotent":true
    },
    "UpdateJobStatus":{
      "name":"UpdateJobStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateJobStatusRequest"},
      "output":{"shape":"UpdateJobStatusResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DependencyInternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"TerminalResourceException"}
      ],
      "documentation":"<p>API used by agents to update the status of a job they are operating on.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessControl":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "reasonCode":{"shape":"AccessDeniedExceptionReason"}
      },
      "exception":true
    },
    "AccessDeniedExceptionReason":{
      "type":"string",
      "enum":[
        "EXPIRED_TOKEN",
        "TOKEN_CLAIM_MISMATCH",
        "INVALID_TOKEN"
      ]
    },
    "AccountConnection":{
      "type":"structure",
      "members":{
        "awsAccountConnection":{"shape":"AwsAccountConnection"}
      },
      "union":true
    },
    "AccountConnectionStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "PENDING",
        "REJECTED"
      ]
    },
    "AccountId":{
      "type":"string",
      "documentation":"<p>Represents the IdC AccountId of the customer</p>",
      "pattern":"[0-9]{12}"
    },
    "AccountIdEntity":{
      "type":"structure",
      "members":{}
    },
    "Action":{
      "type":"string",
      "enum":[
        "APPROVE",
        "REJECT"
      ]
    },
    "AgentConfiguration":{
      "type":"structure",
      "required":[
        "shortDescription",
        "agentCard"
      ],
      "members":{
        "shortDescription":{"shape":"String"},
        "agentCard":{
          "shape":"Document",
          "documentation":"<p>JSON containing A2A-style Card Data</p>"
        }
      }
    },
    "AgentConfigurationAvailability":{
      "type":"string",
      "enum":[
        "RUNTIME_CONFIGURATION_AVAILABLE",
        "NEEDS_RUNTIME_CONFIGURATION",
        "ANY"
      ]
    },
    "AgentDependencyList":{
      "type":"list",
      "member":{"shape":"AgentName"},
      "max":5,
      "min":1
    },
    "AgentId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-z0-9-]+"
    },
    "AgentInputPayload":{
      "type":"structure",
      "members":{
        "serializedPayload":{"shape":"String"}
      },
      "union":true
    },
    "AgentInstanceStatus":{
      "type":"string",
      "documentation":"<p>This represents the different states of the agent life-cycle.</p>",
      "enum":[
        "INVOKED",
        "RUNNING",
        "FAILED",
        "UNRESPONSIVE",
        "STOPPED",
        "COMPLETED",
        "INVOKING",
        "STOPPING"
      ]
    },
    "AgentInstanceSummaries":{
      "type":"list",
      "member":{"shape":"AgentInstanceSummary"}
    },
    "AgentInstanceSummary":{
      "type":"structure",
      "required":[
        "agentInstanceId",
        "agentType",
        "agentInstanceStatus"
      ],
      "members":{
        "agentInstanceId":{"shape":"Uuid"},
        "agentType":{"shape":"AgentType"},
        "agentInstanceStatus":{"shape":"AgentInstanceStatus"},
        "agentId":{
          "shape":"AgentId",
          "documentation":"<p>ID of the agent, keeping as not required as a non-breaking change</p>"
        },
        "agentVersion":{
          "shape":"AgentVersion",
          "documentation":"<p>Version of the agent, keeping as not required as a non-breaking change</p>"
        }
      }
    },
    "AgentMetadata":{
      "type":"structure",
      "required":[
        "type",
        "description",
        "ownerName",
        "ownerAccountId",
        "ownerContactInfo",
        "ownerType",
        "customerConfigurationRequired"
      ],
      "members":{
        "type":{"shape":"AgentType"},
        "description":{"shape":"String"},
        "ownerName":{"shape":"String"},
        "ownerAccountId":{"shape":"AccountId"},
        "ownerContactInfo":{
          "shape":"String",
          "documentation":"<p>Communication channel details so that owners of an agent can receive notifications about the agent</p>"
        },
        "ownerType":{"shape":"OwnerType"},
        "customerConfigurationRequired":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the agent requires customer configuration before it can be used in a job.</p>"
        },
        "customerConfiguredAgentDependencies":{
          "shape":"AgentDependencyList",
          "documentation":"<p>Only applicable for orchestrator agents. List of other agents which require customer configuration before the current orchestrator agent can be usable.</p>"
        }
      }
    },
    "AgentMetadataSummaries":{
      "type":"list",
      "member":{"shape":"AgentMetadataSummary"},
      "max":10,
      "min":0
    },
    "AgentMetadataSummary":{
      "type":"structure",
      "members":{
        "name":{"shape":"AgentName"},
        "type":{"shape":"AgentType"},
        "description":{"shape":"String"},
        "accountAccess":{"shape":"AccessControl"},
        "visibility":{
          "shape":"AgentVisibility",
          "documentation":"<p>Agent visibility status configured by the owner of the agent</p>"
        },
        "ownerType":{"shape":"OwnerType"},
        "customerConfigurationRequired":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the agent requires customer configuration before it can be used in a job.</p>"
        },
        "agentConfigurationAvailability":{"shape":"AgentConfigurationAvailability"},
        "customerConfiguredAgentDependencies":{
          "shape":"AgentDependencyList",
          "documentation":"<p>Only applicable for orchestrator agents. List of other agents which require customer configuration before the current orchestrator agent can be usable.</p>"
        }
      }
    },
    "AgentName":{
      "type":"string",
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "AgentOutputPayload":{
      "type":"structure",
      "members":{
        "serializedPayload":{"shape":"String"}
      },
      "union":true
    },
    "AgentType":{
      "type":"string",
      "documentation":"<p>Represents the Agent Types supported by ATX Foundation</p>",
      "enum":[
        "ORCHESTRATOR_AGENT",
        "SUB_AGENT"
      ]
    },
    "AgentTypeFilter":{
      "type":"structure",
      "members":{
        "agentType":{"shape":"AgentType"}
      }
    },
    "AgentVersion":{
      "type":"string",
      "min":5,
      "pattern":"\\d+\\.\\d+\\.\\d+(?:-dev-[a-zA-Z0-9]+)?"
    },
    "AgentVisibility":{
      "type":"string",
      "enum":[
        "PUBLIC",
        "RESTRICTED"
      ]
    },
    "AppendMode":{
      "type":"structure",
      "required":["parentStepId"],
      "members":{
        "parentStepId":{"shape":"StepId"},
        "afterStepId":{"shape":"StepId"}
      }
    },
    "Artifact":{
      "type":"structure",
      "required":[
        "artifactId",
        "artifactType",
        "artifactCreatedTimestamp",
        "artifactExpiryTimestamp"
      ],
      "members":{
        "artifactId":{"shape":"Uuid"},
        "artifactType":{"shape":"ArtifactType"},
        "artifactCreatedTimestamp":{"shape":"Timestamp"},
        "artifactExpiryTimestamp":{"shape":"Timestamp"},
        "artifactLabel":{"shape":"Label"},
        "fileMetadata":{"shape":"FileMetadata"},
        "sizeInBytes":{"shape":"Long"}
      }
    },
    "ArtifactAgentFilter":{
      "type":"structure",
      "required":["agentInstanceId"],
      "members":{
        "agentInstanceId":{"shape":"Uuid"},
        "category":{"shape":"CategoryType"}
      }
    },
    "ArtifactCategoryFilter":{
      "type":"structure",
      "required":["category"],
      "members":{
        "category":{"shape":"CategoryType"},
        "artifactLabel":{"shape":"Label"}
      }
    },
    "ArtifactFilter":{
      "type":"structure",
      "members":{
        "agentFilter":{"shape":"ArtifactAgentFilter"},
        "categoryFilter":{"shape":"ArtifactCategoryFilter"},
        "workspaceFilter":{"shape":"ArtifactWorkspaceFilter"},
        "planStepFilter":{"shape":"ArtifactPlanStepFilter"}
      },
      "documentation":"<p>Used to apply filters when listing out artifacts such as listing out artifacts generated by a particular agent instance.</p>",
      "union":true
    },
    "ArtifactPlanStepFilter":{
      "type":"structure",
      "required":[
        "planStepId",
        "category"
      ],
      "members":{
        "planStepId":{"shape":"StepId"},
        "category":{"shape":"CategoryType"}
      }
    },
    "ArtifactReference":{
      "type":"structure",
      "members":{
        "artifactType":{"shape":"ArtifactType"},
        "artifactId":{"shape":"Uuid"}
      },
      "union":true
    },
    "ArtifactType":{
      "type":"structure",
      "required":[
        "categoryType",
        "fileType"
      ],
      "members":{
        "categoryType":{"shape":"CategoryType"},
        "fileType":{"shape":"FileType"},
        "schemaType":{"shape":"String"}
      }
    },
    "ArtifactWorkspaceFilter":{
      "type":"structure",
      "required":["category"],
      "members":{
        "category":{"shape":"CategoryType"},
        "artifactLabel":{"shape":"Label"}
      }
    },
    "Artifacts":{
      "type":"list",
      "member":{"shape":"Artifact"}
    },
    "AssumeRoleException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "errorCode":{"shape":"String"}
      },
      "exception":true
    },
    "AttributeKey":{
      "type":"string",
      "max":15,
      "min":1
    },
    "AttributeValue":{
      "type":"string",
      "max":50,
      "min":1
    },
    "AuthorizationToken":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"[.+=A-Za-z0-9_-]+",
      "sensitive":true
    },
    "AwsAccountConnection":{
      "type":"structure",
      "members":{
        "status":{"shape":"AccountConnectionStatus"},
        "createdDate":{"shape":"Timestamp"},
        "expirationDate":{"shape":"Timestamp"},
        "accountId":{"shape":"String"},
        "roleArn":{"shape":"String"},
        "connectionToken":{"shape":"String"}
      }
    },
    "AwsTemporaryCredentials":{
      "type":"structure",
      "members":{
        "accessKey":{"shape":"CredentialComponent"},
        "secretKey":{"shape":"CredentialComponent"},
        "accessToken":{"shape":"CredentialComponent"},
        "expirationTime":{"shape":"Timestamp"}
      }
    },
    "BlockingType":{
      "type":"string",
      "enum":[
        "BLOCKING",
        "NON_BLOCKING"
      ]
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "Categories":{
      "type":"list",
      "member":{"shape":"Category"}
    },
    "Category":{
      "type":"string",
      "enum":[
        "TOOL_APPROVAL",
        "REGULAR"
      ]
    },
    "CategoryType":{
      "type":"string",
      "documentation":"<p>Refers to the context or purpose of the data within a workflow.</p>",
      "enum":[
        "AGENT_INPUT",
        "AGENT_OUTPUT",
        "CUSTOMER_INPUT",
        "CUSTOMER_OUTPUT",
        "HITL_FROM_AGENT",
        "HITL_FROM_USER",
        "INTERNAL",
        "STATE",
        "PLAN_STEP_OUTPUT",
        "PLAN_STEP_SUMMARY"
      ]
    },
    "ChunkingConfiguration":{
      "type":"structure",
      "required":["chunkingStrategy"],
      "members":{
        "chunkingStrategy":{"shape":"ChunkingStrategy"},
        "fixedSizeChunkingConfiguration":{"shape":"FixedSizeChunkingConfiguration"},
        "hierarchicalChunkingConfiguration":{"shape":"HierarchicalChunkingConfiguration"},
        "semanticChunkingConfiguration":{"shape":"SemanticChunkingConfiguration"}
      }
    },
    "ChunkingStrategy":{
      "type":"string",
      "enum":[
        "FIXED_SIZE",
        "NONE",
        "HIERARCHICAL",
        "SEMANTIC"
      ]
    },
    "CloseHitlTaskRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "hitlTaskId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "hitlTaskId":{"shape":"Uuid"},
        "closureType":{"shape":"ClosureType"},
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        }
      }
    },
    "CloseHitlTaskResponse":{
      "type":"structure",
      "members":{
        "hitlTaskStatus":{"shape":"HitlTaskStatus"}
      }
    },
    "ClosureType":{
      "type":"string",
      "enum":[
        "CANCELLED",
        "CLOSED",
        "CLOSED_PENDING_NEXT_TASK"
      ]
    },
    "CompleteArtifactUploadRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "artifactId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "artifactId":{"shape":"Uuid"}
      }
    },
    "CompleteArtifactUploadResponse":{
      "type":"structure",
      "required":["artifact"],
      "members":{
        "artifact":{"shape":"Artifact"}
      }
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "exception":true
    },
    "ConnectorConfiguration":{
      "type":"map",
      "key":{"shape":"NonBlankString"},
      "value":{"shape":"NonBlankString"}
    },
    "ConnectorList":{
      "type":"list",
      "member":{"shape":"ConnectorSummaryData"}
    },
    "ConnectorSummaryData":{
      "type":"structure",
      "required":["connectorId"],
      "members":{
        "connectorId":{"shape":"Uuid"},
        "connectorName":{"shape":"NonBlankString"},
        "description":{"shape":"String"},
        "connectorType":{"shape":"NonBlankString"},
        "targetRegions":{"shape":"ConnectorTargetRegionList"}
      }
    },
    "ConnectorTargetRegion":{
      "type":"string",
      "pattern":"[a-z0-9-]{1,64}"
    },
    "ConnectorTargetRegionList":{
      "type":"list",
      "member":{"shape":"ConnectorTargetRegion"}
    },
    "ContentDigest":{
      "type":"structure",
      "members":{
        "sha256":{"shape":"Sha256Checksum"}
      },
      "union":true
    },
    "CopyArtifactRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "artifactId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "artifactId":{"shape":"Uuid"},
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        }
      }
    },
    "CopyArtifactResponse":{
      "type":"structure",
      "required":["copyStatus"],
      "members":{
        "copyStatus":{"shape":"CopyStatus"}
      }
    },
    "CopyStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "COMPLETED"
      ]
    },
    "CreateArtifactDownloadUrlRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "artifactId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "artifactId":{"shape":"Uuid"},
        "visibility":{"shape":"Visibility"}
      }
    },
    "CreateArtifactDownloadUrlResponse":{
      "type":"structure",
      "required":[
        "s3preSignedUrl",
        "s3UrlExpiryTimestamp",
        "artifactType",
        "requestHeaders"
      ],
      "members":{
        "s3preSignedUrl":{"shape":"S3PresignedUrl"},
        "s3UrlExpiryTimestamp":{"shape":"Timestamp"},
        "artifactType":{"shape":"ArtifactType"},
        "artifactLabel":{"shape":"Label"},
        "requestHeaders":{"shape":"RequestHeaders"},
        "artifact":{"shape":"Artifact"}
      }
    },
    "CreateArtifactUploadUrlRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "contentDigest",
        "artifactReference"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "contentDigest":{"shape":"ContentDigest"},
        "artifactReference":{"shape":"ArtifactReference"},
        "label":{"shape":"Label"},
        "planStepId":{"shape":"StepId"},
        "visibility":{"shape":"Visibility"},
        "metadata":{"shape":"MetadataContext"},
        "fileMetadata":{"shape":"FileMetadata"}
      }
    },
    "CreateArtifactUploadUrlResponse":{
      "type":"structure",
      "required":[
        "artifactId",
        "s3preSignedUrl",
        "s3UrlExpiryTimestamp",
        "requestHeaders"
      ],
      "members":{
        "artifactId":{"shape":"Uuid"},
        "s3preSignedUrl":{"shape":"S3PresignedUrl"},
        "s3UrlExpiryTimestamp":{"shape":"Timestamp"},
        "requestHeaders":{"shape":"RequestHeaders"}
      }
    },
    "CreateHitlTaskRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "uxComponentId",
        "description",
        "title"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "uxComponentId":{"shape":"UxComponentId"},
        "description":{
          "shape":"CreateHitlTaskRequestDescriptionString",
          "documentation":"<p>description of the HITL Task that would be displayed in Execution Log</p>"
        },
        "title":{
          "shape":"CreateHitlTaskRequestTitleString",
          "documentation":"<p>Title to display in project plan</p>"
        },
        "severity":{"shape":"Severity"},
        "hitlTaskType":{"shape":"HitlTaskType"},
        "stepId":{
          "shape":"StepId",
          "documentation":"<p>The Plan Step this HITL task should be associated to</p>"
        },
        "blockingType":{"shape":"BlockingType"},
        "hitlRequestArtifact":{
          "shape":"HitlTaskArtifact",
          "documentation":"<p>The artifact containing a manifest and agent specific data around what to request from the user</p>"
        },
        "expiredAt":{
          "shape":"Timestamp",
          "documentation":"<p>If not provided, Platform will timeout when the requesting agent is stopped</p>"
        },
        "tag":{
          "shape":"Tag",
          "documentation":"<p>logic identifier to group a list of HITL tasks</p>"
        },
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        },
        "category":{"shape":"Category"}
      }
    },
    "CreateHitlTaskRequestDescriptionString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "CreateHitlTaskRequestTitleString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "CreateHitlTaskResponse":{
      "type":"structure",
      "required":["hitlTaskId"],
      "members":{
        "hitlTaskId":{"shape":"Uuid"}
      }
    },
    "CreateWorklogRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "worklog"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "worklog":{"shape":"Worklog"},
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        }
      }
    },
    "CreateWorklogResponse":{
      "type":"structure",
      "members":{}
    },
    "CredentialComponent":{
      "type":"string",
      "sensitive":true
    },
    "DeleteJobPlanStepRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "stepId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "stepId":{"shape":"StepId"},
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        }
      }
    },
    "DeleteJobPlanStepResponse":{
      "type":"structure",
      "members":{}
    },
    "DependencyInternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>This exception denotes that an error occurred in the dependency of a service while processing a request.</p>",
      "exception":true,
      "fault":true
    },
    "DeregisterKnowledgeBaseDocumentRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "artifactId",
        "knowledgeBaseConfigType"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "artifactId":{"shape":"Uuid"},
        "knowledgeBaseConfigType":{"shape":"KnowledgeBaseConfigType"}
      }
    },
    "DeregisterKnowledgeBaseDocumentResponse":{
      "type":"structure",
      "members":{}
    },
    "Document":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "Entity":{
      "type":"structure",
      "members":{
        "accountIdEntity":{"shape":"AccountIdEntity"}
      },
      "union":true
    },
    "FailureReason":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "FileAlreadyExistsException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "exception":true
    },
    "FileMetadata":{
      "type":"structure",
      "required":["path"],
      "members":{
        "path":{"shape":"FilePath"},
        "description":{"shape":"FileMetadataDescriptionString"}
      }
    },
    "FileMetadataDescriptionString":{
      "type":"string",
      "max":4000,
      "min":1,
      "pattern":"[^@#$%^&*<>]*"
    },
    "FilePath":{
      "type":"string",
      "documentation":"<p>Complete file path including directory and filename. Max length is constrained to satisfy 1024 S3 character limit with consideration for the internal file path structure</p>",
      "max":838,
      "min":1,
      "pattern":"(?!.*(\\.\\.\\/|\\.\\.\\\\|\\.\\.\\.))[a-zA-Z0-9!\\-_.*'() ][a-zA-Z0-9!\\-_.*'()/ ]*[a-zA-Z0-9!\\-_'() ]+(\\.[a-zA-Z0-9]+)?"
    },
    "FileType":{
      "type":"string",
      "documentation":"<p>Defines the structural and content characteristics of data.</p>",
      "enum":[
        "ZIP",
        "JSON",
        "PDF",
        "HTML",
        "TXT",
        "MARKDOWN",
        "CSV",
        "PPTX",
        "XLSX",
        "OTHER"
      ]
    },
    "FilterAttribute":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"FilterKey"},
        "value":{"shape":"FilterValue"}
      }
    },
    "FilterKey":{
      "type":"string",
      "max":100,
      "min":1
    },
    "FilterValue":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "FixedSizeChunkingConfiguration":{
      "type":"structure",
      "required":[
        "maxTokens",
        "overlapPercentage"
      ],
      "members":{
        "maxTokens":{"shape":"FixedSizeChunkingConfigurationMaxTokensInteger"},
        "overlapPercentage":{"shape":"FixedSizeChunkingConfigurationOverlapPercentageInteger"}
      }
    },
    "FixedSizeChunkingConfigurationMaxTokensInteger":{
      "type":"integer",
      "box":true,
      "max":8192,
      "min":1
    },
    "FixedSizeChunkingConfigurationOverlapPercentageInteger":{
      "type":"integer",
      "box":true,
      "max":99,
      "min":1
    },
    "Float":{
      "type":"float",
      "box":true
    },
    "GetAgentInstanceRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "agentInstanceId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "agentInstanceId":{"shape":"Uuid"}
      }
    },
    "GetAgentInstanceResponse":{
      "type":"structure",
      "required":[
        "agentInstanceId",
        "agentType",
        "agentInstanceStatus"
      ],
      "members":{
        "agentInstanceId":{"shape":"Uuid"},
        "agentType":{"shape":"AgentType"},
        "agentInstanceStatus":{"shape":"AgentInstanceStatus"},
        "agentInput":{"shape":"AgentInputPayload"},
        "agentOutput":{"shape":"AgentOutputPayload"}
      }
    },
    "GetAgentVersionRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "name"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "name":{"shape":"AgentName"},
        "version":{
          "shape":"SemanticVersion",
          "documentation":"<p>Returns latest active version if not provided</p>"
        }
      }
    },
    "GetAgentVersionResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "version":{"shape":"SemanticVersion"},
        "metadata":{"shape":"AgentMetadata"},
        "visibility":{"shape":"AgentVisibility"},
        "configuration":{"shape":"AgentConfiguration"},
        "status":{"shape":"VersionStatus"},
        "statusMessage":{"shape":"String"}
      }
    },
    "GetArtifactMetadataRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "artifactId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "artifactId":{"shape":"Uuid"}
      }
    },
    "GetArtifactMetadataResponse":{
      "type":"structure",
      "required":[
        "artifact",
        "isS3ObjectPresent"
      ],
      "members":{
        "artifact":{"shape":"Artifact"},
        "isS3ObjectPresent":{"shape":"IsS3ObjectPresent"},
        "metadata":{"shape":"MetadataContext"}
      }
    },
    "GetConnectorRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "connectorId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "connectorId":{"shape":"Uuid"}
      }
    },
    "GetConnectorResponse":{
      "type":"structure",
      "members":{
        "connectorName":{"shape":"NonBlankString"},
        "description":{"shape":"String"},
        "connectorType":{
          "shape":"NonBlankString",
          "documentation":"<p>Connector types like S3, CodeConnection etc</p>"
        },
        "configuration":{
          "shape":"ConnectorConfiguration",
          "documentation":"<p>Connector type specific configurations, eg: S3 bucket ARN. Required fields depend on connector type</p>"
        },
        "accountConnection":{"shape":"AccountConnection"},
        "targetRegions":{"shape":"ConnectorTargetRegionList"}
      }
    },
    "GetHitlTaskRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "hitlTaskId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "hitlTaskId":{"shape":"Uuid"}
      }
    },
    "GetHitlTaskResponse":{
      "type":"structure",
      "members":{
        "hitlTask":{"shape":"HitlTask"}
      }
    },
    "GetJobRequest":{
      "type":"structure",
      "required":["requestContext"],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "includeObjective":{"shape":"Boolean"}
      }
    },
    "GetJobResponse":{
      "type":"structure",
      "members":{
        "job":{"shape":"JobInfo"}
      }
    },
    "GetKnowledgeBaseIngestionRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "ingestionId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "ingestionId":{"shape":"Uuid"}
      }
    },
    "GetKnowledgeBaseIngestionResponse":{
      "type":"structure",
      "required":["ingestion"],
      "members":{
        "ingestion":{"shape":"Ingestion"}
      }
    },
    "GetTaskRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "agentInstanceId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "agentInstanceId":{"shape":"GetTaskRequestAgentInstanceIdString"},
        "params":{
          "shape":"Document",
          "documentation":"<p>Will follow https://a2a-protocol.org/latest/specification/#73-tasksget</p>"
        }
      }
    },
    "GetTaskRequestAgentInstanceIdString":{
      "type":"string",
      "max":36,
      "min":1
    },
    "GetTaskResponse":{
      "type":"structure",
      "members":{
        "result":{
          "shape":"Document",
          "documentation":"<p>Will be of type https://a2a-protocol.org/latest/specification/#61-task-object Just like A2A protocol. https://a2a-protocol.org/latest/specification/#73-tasksget</p>"
        },
        "error":{
          "shape":"Document",
          "documentation":"<p>If present, will be of type https://a2a-protocol.org/latest/specification/#612-jsonrpcerror-object</p>"
        }
      }
    },
    "GetTemporaryCredentialsForConnectorRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "connectorId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "connectorId":{"shape":"Uuid"},
        "targetRegion":{"shape":"ConnectorTargetRegion"}
      }
    },
    "GetTemporaryCredentialsForConnectorResponse":{
      "type":"structure",
      "members":{
        "temporaryCredentials":{"shape":"TemporaryCredentials"},
        "connectorConfiguration":{"shape":"ConnectorConfiguration"},
        "targetRegion":{"shape":"ConnectorTargetRegion"}
      }
    },
    "GetUsageRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "resourceTypes"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "resourceTypes":{
          "shape":"ResourceTypeList",
          "documentation":"<p>List of resource types to retrieve usage data for</p>"
        }
      }
    },
    "GetUsageResponse":{
      "type":"structure",
      "required":["usageResults"],
      "members":{
        "usageResults":{
          "shape":"MeteringUsageList",
          "documentation":"<p>List of usage results for the requested resource types</p>"
        }
      }
    },
    "HeaderKey":{
      "type":"string",
      "min":1
    },
    "HeadersList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "HierarchicalChunkingConfiguration":{
      "type":"structure",
      "required":[
        "levelConfigurations",
        "overlapTokens"
      ],
      "members":{
        "levelConfigurations":{"shape":"LevelConfigurations"},
        "overlapTokens":{"shape":"HierarchicalChunkingConfigurationOverlapTokensInteger"}
      }
    },
    "HierarchicalChunkingConfigurationOverlapTokensInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "HierarchicalChunkingLevelConfiguration":{
      "type":"structure",
      "required":["maxTokens"],
      "members":{
        "maxTokens":{"shape":"HierarchicalChunkingLevelConfigurationMaxTokensInteger"}
      }
    },
    "HierarchicalChunkingLevelConfigurationMaxTokensInteger":{
      "type":"integer",
      "box":true,
      "max":8192,
      "min":1
    },
    "HitlDescription":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "HitlTask":{
      "type":"structure",
      "required":[
        "hitlTaskId",
        "hitlTaskStatus",
        "uxComponentId",
        "blockingType",
        "severity",
        "hitlTaskType"
      ],
      "members":{
        "hitlTaskId":{"shape":"Uuid"},
        "hitlTaskStatus":{"shape":"HitlTaskStatus"},
        "uxComponentId":{"shape":"UxComponentId"},
        "blockingType":{"shape":"BlockingType"},
        "severity":{"shape":"Severity"},
        "hitlTaskType":{"shape":"HitlTaskType"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "completedAt":{
          "shape":"Timestamp",
          "documentation":"<p>Timestamp at which task was completed - populated for tasks in completed status</p>"
        },
        "tag":{
          "shape":"Tag",
          "documentation":"<p>Idenfitifer to chain or group different HITL tasks together</p>"
        },
        "stepId":{
          "shape":"StepId",
          "documentation":"<p>Job plan step that HITL task is associated with</p>"
        },
        "agentArtifact":{"shape":"HitlTaskArtifact"},
        "humanArtifact":{"shape":"HitlTaskArtifact"},
        "description":{"shape":"HitlDescription"},
        "action":{"shape":"Action"},
        "category":{"shape":"Category"}
      }
    },
    "HitlTaskArtifact":{
      "type":"structure",
      "members":{
        "artifactId":{"shape":"Uuid"}
      }
    },
    "HitlTaskFilter":{
      "type":"structure",
      "members":{
        "taskStatus":{"shape":"HitlTaskStatus"},
        "agentInstanceId":{"shape":"Uuid"},
        "stepId":{"shape":"StepId"},
        "tag":{"shape":"Tag"},
        "blockingType":{"shape":"BlockingType"},
        "categories":{"shape":"Categories"}
      },
      "documentation":"<p>Defines filters for querying HITL tasks.</p> <p>Filter usage rules:</p> <ol> <li> <p>The filters are mutually exclusive. Only one filter can be used in a single query, and each accepts only a single value.</p> </li> <li> <p>Server-side validation is implemented to ensure proper usage of filters. Multiple values for filters will result in an error.</p> </li> </ol> <p>Example valid uses:</p> <ul> <li><code>blockingType</code> only</li> <li><code>taskStatuses</code> only</li> <li><code>planStepId</code> only</li> </ul> <p>Example invalid uses:</p> <ul> <li><code>blockingType</code> + <code>stepId</code></li> <li><code>tag</code> + <code>agentInstanceId</code></li> <li>Multiple values for <code>blockingType</code></li> </ul>",
      "union":true
    },
    "HitlTaskStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "AWAITING_HUMAN_INPUT",
        "IN_PROGRESS",
        "WAITING_APPROVAL",
        "SUBMITTED",
        "CLOSED",
        "CANCELLED",
        "CLOSED_PENDING_NEXT_TASK",
        "DELIVERED",
        "AWAITING_APPROVAL"
      ]
    },
    "HitlTaskType":{
      "type":"string",
      "enum":[
        "NORMAL",
        "DASHBOARD"
      ]
    },
    "HitlTasks":{
      "type":"list",
      "member":{"shape":"HitlTask"}
    },
    "IdempotencyToken":{
      "type":"string",
      "max":102400,
      "min":1,
      "pattern":"[\\w\\d\\-\\:\\.]+"
    },
    "IndexingMetadata":{
      "type":"map",
      "key":{"shape":"MetadataKey"},
      "value":{"shape":"MetadataValue"},
      "max":20,
      "min":0
    },
    "Ingestion":{
      "type":"structure",
      "required":[
        "ingestionId",
        "status",
        "ingestionScopeMetadata"
      ],
      "members":{
        "ingestionId":{"shape":"Uuid"},
        "status":{"shape":"IngestionStatus"},
        "ingestionScopeMetadata":{"shape":"IngestionScopeMetadata"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "failureReason":{"shape":"FailureReason"}
      }
    },
    "IngestionConfiguration":{
      "type":"structure",
      "members":{
        "vectorIngestionConfiguration":{"shape":"VectorIngestionConfiguration"}
      }
    },
    "IngestionScopeMetadata":{
      "type":"structure",
      "members":{
        "jobScope":{"shape":"JobMetadata"}
      },
      "union":true
    },
    "IngestionStatus":{
      "type":"string",
      "documentation":"<p>Mapped to Bedrock status: STARTING | IN_PROGRESS | COMPLETE | FAILED | STOPPING | STOPPED. https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_IngestionJob.html#bedrock-Type-agent_IngestionJob-status</p>",
      "enum":[
        "STARTING",
        "IN_PROGRESS",
        "COMPLETE",
        "FAILED",
        "STOPPING",
        "STOPPED"
      ]
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{"shape":"Integer"}
      },
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "InvokeAgentRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "agentId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "agentId":{"shape":"AgentId"},
        "inputPayload":{"shape":"AgentInputPayload"},
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        },
        "agentVersion":{"shape":"AgentVersion"},
        "agentInstanceId":{"shape":"Uuid"}
      }
    },
    "InvokeAgentResponse":{
      "type":"structure",
      "required":["agentInstanceId"],
      "members":{
        "agentInstanceId":{"shape":"Uuid"}
      }
    },
    "IsS3ObjectPresent":{
      "type":"structure",
      "members":{
        "publicBucket":{"shape":"Boolean"},
        "privateBucket":{"shape":"Boolean"}
      }
    },
    "JobInfo":{
      "type":"structure",
      "members":{
        "jobId":{"shape":"Uuid"},
        "workspaceId":{"shape":"Uuid"},
        "statusDetails":{"shape":"StatusDetails"},
        "creationTime":{"shape":"Timestamp"},
        "startExecutionTime":{"shape":"Timestamp"},
        "endExecutionTime":{"shape":"Timestamp"},
        "objective":{"shape":"JobObjective"},
        "jobName":{"shape":"JobName"},
        "intent":{"shape":"String"},
        "runCountId":{"shape":"Integer"},
        "latestPlanVersion":{"shape":"Integer"},
        "clientSource":{"shape":"String"}
      },
      "documentation":"<p>Consists of details about a job such as the time the job was started</p>"
    },
    "JobMetadata":{
      "type":"structure",
      "required":[
        "jobId",
        "workspaceId"
      ],
      "members":{
        "jobId":{"shape":"Uuid"},
        "workspaceId":{"shape":"Uuid"}
      },
      "documentation":"<p>Represents the Transformation JobId and the Workspace Id</p>"
    },
    "JobName":{
      "type":"string",
      "max":64,
      "min":0
    },
    "JobObjective":{
      "type":"string",
      "max":600,
      "min":1,
      "sensitive":true
    },
    "JobPlanStep":{
      "type":"structure",
      "required":[
        "stepId",
        "parentStepId",
        "stepLabel",
        "stepName",
        "description"
      ],
      "members":{
        "stepId":{"shape":"StepId"},
        "parentStepId":{
          "shape":"StepId",
          "documentation":"<p>Set to ROOT if the entry corresponds to a top-level step</p>"
        },
        "stepLabel":{"shape":"StepLabel"},
        "stepName":{"shape":"StepName"},
        "description":{"shape":"StepDescription"},
        "score":{"shape":"Float"},
        "startTime":{"shape":"Timestamp"},
        "endTime":{"shape":"Timestamp"},
        "status":{"shape":"PlanStepStatus"}
      }
    },
    "JobPlanStepNode":{
      "type":"structure",
      "required":[
        "stepLabel",
        "stepName",
        "description"
      ],
      "members":{
        "stepLabel":{"shape":"StepLabel"},
        "stepName":{"shape":"StepName"},
        "description":{"shape":"StepDescription"},
        "subSteps":{"shape":"JobPlanStepNodes"}
      },
      "documentation":"<p>Each job plan node consists of a label associated with it, a name which will be displayed to the user, a description, and any children step nodes.</p>"
    },
    "JobPlanStepNodes":{
      "type":"list",
      "member":{"shape":"JobPlanStepNode"},
      "min":1
    },
    "JobPlanSteps":{
      "type":"list",
      "member":{"shape":"JobPlanStep"}
    },
    "JobPlanTree":{
      "type":"structure",
      "members":{
        "nodes":{"shape":"JobPlanStepNodes"}
      },
      "documentation":"<p>Represents a job plan that is displayed to the user. Each plan is composed of 1 or more steps. Each step can consist of 1 or more sub-steps.</p>"
    },
    "JobStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "STARTING",
        "ASSESSING",
        "PLANNING",
        "PLANNED",
        "EXECUTING",
        "AWAITING_HUMAN_INPUT",
        "COMPLETED",
        "FAILED",
        "STOPPING",
        "STOPPED"
      ]
    },
    "KnowledgeBaseConfigType":{
      "type":"string",
      "enum":["TEXT_TITAN_CONFIG"]
    },
    "Label":{
      "type":"string",
      "max":100,
      "min":1
    },
    "LevelConfigurations":{
      "type":"list",
      "member":{"shape":"HierarchicalChunkingLevelConfiguration"},
      "max":2,
      "min":2
    },
    "LimitDefinition":{
      "type":"structure",
      "required":[
        "limit",
        "unit"
      ],
      "members":{
        "limit":{"shape":"Double"},
        "unit":{"shape":"MeteredUnit"}
      },
      "documentation":"<p>Defines the maximum allowed quota of a metered resource</p>"
    },
    "ListAgentFilter":{
      "type":"structure",
      "members":{
        "requesterAgentInstanceId":{"shape":"String"}
      },
      "documentation":"<p>Used to apply filters when listing out agents via the ListAgentInstances API</p>",
      "union":true
    },
    "ListAgentInstancesRequest":{
      "type":"structure",
      "required":["requestContext"],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "nextToken":{"shape":"String"},
        "agentFilter":{"shape":"ListAgentFilter"},
        "maxResults":{"shape":"ListAgentInstancesRequestMaxResultsInteger"}
      }
    },
    "ListAgentInstancesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListAgentInstancesResponse":{
      "type":"structure",
      "members":{
        "agentInstanceSummaries":{"shape":"AgentInstanceSummaries"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListAgentsFilter":{
      "type":"structure",
      "members":{
        "agentTypeFilter":{"shape":"AgentTypeFilter"}
      },
      "union":true
    },
    "ListAgentsRequest":{
      "type":"structure",
      "required":["requestContext"],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "agentFilter":{"shape":"ListAgentsFilter"},
        "nextToken":{"shape":"String"},
        "maxResults":{"shape":"ListAgentsRequestMaxResultsInteger"}
      }
    },
    "ListAgentsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "ListAgentsResponse":{
      "type":"structure",
      "members":{
        "items":{"shape":"AgentMetadataSummaries"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListArtifactsRequest":{
      "type":"structure",
      "required":["requestContext"],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "artifactFilter":{"shape":"ArtifactFilter"},
        "nextToken":{"shape":"String"},
        "maxResults":{"shape":"ListArtifactsRequestMaxResultsInteger"}
      }
    },
    "ListArtifactsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListArtifactsResponse":{
      "type":"structure",
      "required":["artifacts"],
      "members":{
        "artifacts":{"shape":"Artifacts"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListConnectorsRequest":{
      "type":"structure",
      "required":["requestContext"],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "maxResults":{"shape":"Integer"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListConnectorsResponse":{
      "type":"structure",
      "members":{
        "connectorsList":{"shape":"ConnectorList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListHitlTasksRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "taskType"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "taskType":{"shape":"HitlTaskType"},
        "taskFilter":{"shape":"HitlTaskFilter"},
        "nextToken":{"shape":"String"},
        "maxResults":{"shape":"ListHitlTasksRequestMaxResultsInteger"}
      }
    },
    "ListHitlTasksRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100
    },
    "ListHitlTasksResponse":{
      "type":"structure",
      "required":["hitlTasks"],
      "members":{
        "hitlTasks":{"shape":"HitlTasks"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListJobPlanStepsRequest":{
      "type":"structure",
      "required":["requestContext"],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "parentStepId":{
          "shape":"StepId",
          "documentation":"<p>If not specified, we return all steps. If specified as root, we return only top-level steps. Otherwise, we return steps directly under the parentId</p>"
        },
        "maxResults":{"shape":"Integer"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListJobPlanStepsResponse":{
      "type":"structure",
      "members":{
        "steps":{"shape":"JobPlanSteps"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListWorklogsRequest":{
      "type":"structure",
      "required":["requestContext"],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "worklogFilter":{"shape":"WorklogFilter"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListWorklogsResponse":{
      "type":"structure",
      "members":{
        "worklogs":{"shape":"WorklogList"},
        "nextToken":{"shape":"String"}
      }
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "MetadataContext":{
      "type":"structure",
      "members":{
        "schemaVersion":{"shape":"String"},
        "content":{"shape":"Document"}
      }
    },
    "MetadataKey":{
      "type":"string",
      "max":200,
      "min":1
    },
    "MetadataValue":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "MeteredAmount":{
      "type":"structure",
      "members":{
        "amount":{"shape":"Integer"},
        "unit":{"shape":"MeteredUnit"}
      }
    },
    "MeteredUnit":{
      "type":"string",
      "enum":["COUNT"]
    },
    "MeteringAttribute":{
      "type":"structure",
      "required":[
        "name",
        "value"
      ],
      "members":{
        "name":{"shape":"String"},
        "value":{"shape":"String"}
      }
    },
    "MeteringAttributeList":{
      "type":"list",
      "member":{"shape":"MeteringAttribute"}
    },
    "MeteringUsage":{
      "type":"structure",
      "required":[
        "resourceType",
        "amount",
        "unit",
        "limits"
      ],
      "members":{
        "resourceType":{"shape":"ResourceType"},
        "amount":{"shape":"Double"},
        "unit":{"shape":"MeteredUnit"},
        "limits":{"shape":"LimitDefinition"}
      },
      "documentation":"<p>Usage information for a specific resource type</p>"
    },
    "MeteringUsageList":{
      "type":"list",
      "member":{"shape":"MeteringUsage"},
      "documentation":"<p>List of usage results for requested resource types</p>",
      "max":20,
      "min":0
    },
    "NonBlankString":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"(?!\\s*$).+"
    },
    "OverrideMode":{
      "type":"structure",
      "members":{}
    },
    "OwnerType":{
      "type":"string",
      "documentation":"<p>Represents the type of agent owner based on their relationship with ATX.</p>",
      "enum":[
        "INTERNAL_AGENT",
        "DIRECT_AGENT",
        "MARKETPLACE_AGENT"
      ]
    },
    "PlanStepMapping":{
      "type":"structure",
      "required":[
        "stepLabel",
        "stepId"
      ],
      "members":{
        "stepLabel":{"shape":"StepLabel"},
        "stepId":{"shape":"Uuid"}
      }
    },
    "PlanStepMappings":{
      "type":"list",
      "member":{"shape":"PlanStepMapping"},
      "max":80,
      "min":0
    },
    "PlanStepStatus":{
      "type":"string",
      "enum":[
        "NOT_STARTED",
        "IN_PROGRESS",
        "SUCCEEDED",
        "PENDING_HUMAN_INPUT",
        "FAILED",
        "STOPPED"
      ]
    },
    "PlanStepUpdate":{
      "type":"structure",
      "required":["stepId"],
      "members":{
        "stepId":{"shape":"StepId"},
        "startTime":{"shape":"Timestamp"},
        "endTime":{"shape":"Timestamp"},
        "status":{"shape":"PlanStepStatus"},
        "description":{"shape":"StepDescription"}
      }
    },
    "PreProdTestOperationRequest":{
      "type":"structure",
      "required":["requestContext"],
      "members":{
        "requestContext":{"shape":"RequestContext"}
      }
    },
    "PreProdTestOperationResponse":{
      "type":"structure",
      "members":{}
    },
    "PublishMeteringEventRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "entity",
        "resourceType",
        "resourceId",
        "startTime"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "entity":{"shape":"Entity"},
        "resourceType":{"shape":"ResourceType"},
        "resourceId":{"shape":"ResourceId"},
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>ISO-8601 formatted millisecond precision timestamp</p>"
        },
        "amount":{"shape":"MeteredAmount"},
        "idempotencyToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        },
        "attributes":{"shape":"MeteringAttributeList"}
      }
    },
    "PublishMeteringEventResponse":{
      "type":"structure",
      "members":{}
    },
    "PutJobPlanMode":{
      "type":"structure",
      "members":{
        "override":{"shape":"OverrideMode"},
        "append":{"shape":"AppendMode"}
      },
      "union":true
    },
    "PutJobPlanRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "plan",
        "mode"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "plan":{"shape":"JobPlanTree"},
        "mode":{"shape":"PutJobPlanMode"},
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        }
      }
    },
    "PutJobPlanResponse":{
      "type":"structure",
      "required":[
        "status",
        "mappings"
      ],
      "members":{
        "status":{"shape":"PutJobPlanStatus"},
        "mappings":{"shape":"PlanStepMappings"}
      }
    },
    "PutJobPlanStatus":{
      "type":"string",
      "enum":[
        "COMPLETED",
        "IN_PROGRESS"
      ]
    },
    "RefreshAuthTokenRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "sessionDuration"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "sessionDuration":{
          "shape":"RefreshAuthTokenRequestSessionDurationInteger",
          "documentation":"<p>Used to set the expiration of the token. Number of seconds</p>"
        }
      }
    },
    "RefreshAuthTokenRequestSessionDurationInteger":{
      "type":"integer",
      "box":true,
      "max":43200,
      "min":300
    },
    "RefreshAuthTokenResponse":{
      "type":"structure",
      "required":[
        "authorizationToken",
        "authorizationExpiration"
      ],
      "members":{
        "authorizationToken":{
          "shape":"AuthorizationToken",
          "documentation":"<p>Secret passed by the ATX Foundation to the agents</p>"
        },
        "authorizationExpiration":{"shape":"Timestamp"}
      }
    },
    "RegisterKnowledgeBaseDocumentRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "artifactId",
        "knowledgeBaseConfigType"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "artifactId":{"shape":"Uuid"},
        "knowledgeBaseConfigType":{"shape":"KnowledgeBaseConfigType"},
        "indexingMetadata":{"shape":"IndexingMetadata"}
      }
    },
    "RegisterKnowledgeBaseDocumentResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Will return empty response if this operation is successful</p>"
    },
    "RequestContext":{
      "type":"structure",
      "required":[
        "jobMetadata",
        "agentInstanceId",
        "authorizationToken"
      ],
      "members":{
        "jobMetadata":{"shape":"JobMetadata"},
        "agentInstanceId":{
          "shape":"Uuid",
          "documentation":"<p>InvocationId of the agent making the API request.</p>"
        },
        "authorizationToken":{
          "shape":"AuthorizationToken",
          "documentation":"<p>Token passed by the ATX Foundation to the agents</p>"
        }
      },
      "documentation":"<p>Common structure encapsulating Job Details and Caller Agent's identification expected in all requests</p>"
    },
    "RequestHeaders":{
      "type":"map",
      "key":{"shape":"HeaderKey"},
      "value":{"shape":"HeadersList"}
    },
    "ResourceId":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[\\w\\d\\-\\|:\\.]+"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "exception":true
    },
    "ResourceType":{
      "type":"string",
      "enum":[
        "MAINFRAME_LOC",
        "DOT_NET_TRANSFORMATION_MONTHLY_LOC",
        "DOT_NET_TRANSFORMATION_MONTHLY_REPOSITORIES",
        "DOT_NET_TRANSFORMATION_TOTAL_LOC",
        "DOT_NET_TRANSFORMATION_BILLED_LOC",
        "VMS_MIGRATED_SUCCESSFUL_COUNT",
        "VM_NETWORKS_GENERATED_COUNT",
        "VM_NETWORKS_DEPLOYED_COUNT",
        "QT_AGENTIC_PLATFORM_TEST",
        "MAINFRAME_ANALYSIS_LOC",
        "MAINFRAME_DOCUMENTATION_LOC",
        "MAINFRAME_DECOMPOSITION_LOC",
        "MAINFRAME_TRANSFORM_LOC",
        "QT_AGENTIC_PLATFORM_BILLING_TEST",
        "MAINFRAME_DOCUMENTATION_DEPENDENCY_LOC",
        "MAINFRAME_PLAN_MIGRATION_ITERATION",
        "ASSESSMENTS_MONTHLY_COMPLETED_ASSESSMENTS",
        "MAINFRAME_BUSINESS_RULE_LOC",
        "MAINFRAME_BUSINESS_RULE_DEPENDENCY_LOC",
        "MAINFRAME_REFORGE_LOC"
      ]
    },
    "ResourceTypeList":{
      "type":"list",
      "member":{"shape":"ResourceType"},
      "max":20,
      "min":1
    },
    "RetrievalConfiguration":{
      "type":"structure",
      "required":["vectorSearchConfiguration"],
      "members":{
        "vectorSearchConfiguration":{"shape":"VectorSearchConfiguration"}
      }
    },
    "RetrievalFilter":{
      "type":"structure",
      "members":{
        "equals":{"shape":"FilterAttribute"},
        "notEquals":{"shape":"FilterAttribute"},
        "greaterThan":{"shape":"FilterAttribute"},
        "greaterThanOrEquals":{"shape":"FilterAttribute"},
        "lessThan":{"shape":"FilterAttribute"},
        "lessThanOrEquals":{"shape":"FilterAttribute"},
        "in":{"shape":"FilterAttribute"},
        "notIn":{"shape":"FilterAttribute"},
        "startsWith":{"shape":"FilterAttribute"},
        "listContains":{"shape":"FilterAttribute"},
        "stringContains":{"shape":"FilterAttribute"},
        "andAll":{"shape":"RetrievalFilterList"},
        "orAll":{"shape":"RetrievalFilterList"}
      },
      "sensitive":true,
      "union":true
    },
    "RetrievalFilterList":{
      "type":"list",
      "member":{"shape":"RetrievalFilter"},
      "min":2
    },
    "RetrievalQuery":{
      "type":"structure",
      "required":["text"],
      "members":{
        "text":{"shape":"RetrievalQueryTextString"}
      },
      "sensitive":true
    },
    "RetrievalQueryTextString":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "RetrievalResult":{
      "type":"structure",
      "required":["content"],
      "members":{
        "content":{"shape":"RetrievalResultContent"},
        "location":{"shape":"RetrievalResultLocation"},
        "score":{"shape":"Double"},
        "metadata":{"shape":"RetrievalResultMetadata"}
      }
    },
    "RetrievalResultContent":{
      "type":"structure",
      "members":{
        "text":{"shape":"String"}
      }
    },
    "RetrievalResultLocation":{
      "type":"structure",
      "required":["type"],
      "members":{
        "type":{"shape":"RetrievalResultLocationType"},
        "s3Location":{"shape":"RetrievalResultS3Location"},
        "webLocation":{"shape":"RetrievalResultWebLocation"}
      }
    },
    "RetrievalResultLocationType":{
      "type":"string",
      "enum":[
        "S3",
        "WEB"
      ]
    },
    "RetrievalResultMetadata":{
      "type":"map",
      "key":{"shape":"RetrievalResultMetadataKey"},
      "value":{"shape":"RetrievalResultMetadataValue"},
      "min":1,
      "sensitive":true
    },
    "RetrievalResultMetadataKey":{
      "type":"string",
      "max":100,
      "min":1
    },
    "RetrievalResultMetadataValue":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "RetrievalResultS3Location":{
      "type":"structure",
      "members":{
        "uri":{
          "shape":"String",
          "documentation":"<p>URI of S3 location</p>"
        }
      }
    },
    "RetrievalResultWebLocation":{
      "type":"structure",
      "members":{
        "url":{
          "shape":"String",
          "documentation":"<p>Website URL</p>"
        }
      }
    },
    "RetrievalResults":{
      "type":"list",
      "member":{"shape":"RetrievalResult"},
      "sensitive":true
    },
    "RetrievalScope":{
      "type":"string",
      "enum":[
        "AWS",
        "PRODUCT",
        "AGENT_INGESTED"
      ]
    },
    "RetrieveFromKnowledgeBaseRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "retrievalQuery",
        "retrievalScope"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "retrievalQuery":{"shape":"RetrievalQuery"},
        "retrievalScope":{"shape":"RetrievalScope"},
        "retrievalConfiguration":{"shape":"RetrievalConfiguration"},
        "nextToken":{"shape":"String"}
      }
    },
    "RetrieveFromKnowledgeBaseResponse":{
      "type":"structure",
      "required":["retrievalResults"],
      "members":{
        "retrievalResults":{"shape":"RetrievalResults"},
        "nextToken":{"shape":"String"}
      }
    },
    "RollbackMeteringEventRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "entity",
        "resourceType",
        "resourceId",
        "amendTime"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "entity":{"shape":"Entity"},
        "resourceType":{"shape":"ResourceType"},
        "resourceId":{"shape":"String"},
        "amendTime":{
          "shape":"Timestamp",
          "documentation":"<p>ISO-8601 formatted millisecond precision timestamp</p>"
        }
      }
    },
    "RollbackMeteringEventResponse":{
      "type":"structure",
      "members":{}
    },
    "S3PresignedUrl":{
      "type":"string",
      "max":2000,
      "min":0,
      "pattern":"((https://([^/]+)\\.s3((-|\\.)[^/]+)?\\.amazonaws\\.com(.cn)?)|(s3://([^/]+)))/\\S{1,2000}",
      "sensitive":true
    },
    "SemanticChunkingConfiguration":{
      "type":"structure",
      "required":[
        "breakpointPercentileThreshold",
        "bufferSize",
        "maxTokens"
      ],
      "members":{
        "breakpointPercentileThreshold":{"shape":"SemanticChunkingConfigurationBreakpointPercentileThresholdInteger"},
        "bufferSize":{"shape":"SemanticChunkingConfigurationBufferSizeInteger"},
        "maxTokens":{"shape":"SemanticChunkingConfigurationMaxTokensInteger"}
      }
    },
    "SemanticChunkingConfigurationBreakpointPercentileThresholdInteger":{
      "type":"integer",
      "box":true,
      "max":99,
      "min":50
    },
    "SemanticChunkingConfigurationBufferSizeInteger":{
      "type":"integer",
      "box":true,
      "max":1,
      "min":0
    },
    "SemanticChunkingConfigurationMaxTokensInteger":{
      "type":"integer",
      "box":true,
      "max":8192,
      "min":1
    },
    "SemanticVersion":{
      "type":"string",
      "documentation":"<p>SemVer string restricted to 5 digits per group and only allowing suffix -dev. Also allows the special string latest</p>",
      "pattern":"\\d+\\.\\d+\\.\\d+(?:-dev-[a-zA-Z0-9]+)?"
    },
    "SendMessageRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "agentInstanceId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "agentInstanceId":{"shape":"SendMessageRequestAgentInstanceIdString"},
        "params":{
          "shape":"Document",
          "documentation":"<p>Will follow https://google-a2a.github.io/A2A/specification/#711-messagesendparams-object</p>"
        }
      }
    },
    "SendMessageRequestAgentInstanceIdString":{
      "type":"string",
      "max":36,
      "min":1
    },
    "SendMessageResponse":{
      "type":"structure",
      "members":{
        "result":{
          "shape":"Document",
          "documentation":"<p>Will be of type either https://google-a2a.github.io/A2A/specification/#64-message-object https://google-a2a.github.io/A2A/specification/#61-task-object Just like A2A protocol. https://google-a2a.github.io/A2A/specification/#71-messagesend</p>"
        },
        "error":{
          "shape":"Document",
          "documentation":"<p>If present, will be of type https://google-a2a.github.io/A2A/specification/#612-jsonrpcerror-object</p>"
        }
      }
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"}
      },
      "exception":true
    },
    "Severity":{
      "type":"string",
      "enum":[
        "STANDARD",
        "CRITICAL"
      ]
    },
    "Sha256Checksum":{
      "type":"string",
      "documentation":"<p>Sha256Checksum must be base64 per AWS SDK specifications</p>",
      "max":64,
      "min":1,
      "pattern":"(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})"
    },
    "StartHitlTaskRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "hitlTaskId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "hitlTaskId":{"shape":"Uuid"},
        "firstInChain":{"shape":"Boolean"},
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        }
      }
    },
    "StartHitlTaskResponse":{
      "type":"structure",
      "members":{
        "hitlTaskStatus":{"shape":"HitlTaskStatus"}
      }
    },
    "StartKnowledgeBaseIngestionRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "knowledgeBaseConfigType",
        "ingestionScopeMetadata"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "knowledgeBaseConfigType":{"shape":"KnowledgeBaseConfigType"},
        "ingestionScopeMetadata":{"shape":"IngestionScopeMetadata"},
        "ingestionConfiguration":{"shape":"IngestionConfiguration"}
      }
    },
    "StartKnowledgeBaseIngestionResponse":{
      "type":"structure",
      "required":["ingestionId"],
      "members":{
        "ingestionId":{"shape":"Uuid"}
      }
    },
    "StatusDetails":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JobStatus"},
        "failureReason":{"shape":"String"}
      }
    },
    "StatusInfo":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JobStatus"},
        "failureType":{"shape":"String"}
      }
    },
    "StepDescription":{
      "type":"string",
      "max":350,
      "min":1
    },
    "StepId":{
      "type":"string",
      "max":41,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "StepIdFilter":{
      "type":"structure",
      "required":["stepId"],
      "members":{
        "stepId":{"shape":"String"},
        "timeFilter":{"shape":"TimeFilter"}
      }
    },
    "StepLabel":{
      "type":"string",
      "max":100,
      "min":1
    },
    "StepName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "StopAgentRequest":{
      "type":"structure",
      "required":[
        "requestContext",
        "agentInstanceId"
      ],
      "members":{
        "requestContext":{"shape":"RequestContext"},
        "agentInstanceId":{"shape":"Uuid"},
        "idempotencyToken":{
          "shape":"Uuid",
          "idempotencyToken":true
        }
      }
    },
    "StopAgentResponse":{
      "type":"structure",
      "members":{}
    },
    "String":{"type":"string"},
    "StringMap":{
      "type":"map",
      "key":{"shape":"AttributeKey"},
      "value":{"shape":"AttributeValue"},
      "max":10,
      "min":0
    },
    "Tag":{
      "type":"string",
      "max":100,
      "min":1
    },
    "TemporaryCredentials":{
      "type":"structure",
      "members":{
        "awsTemporaryCredentials":{"shape":"AwsTemporaryCredentials"}
      },
      "union":true
    },
    "TerminalResourceException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "TestOperationRequest":{
      "type":"structure",
[...]
