{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-07-26",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"atxagentregistryexternal",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"ATXAgentRegistryExternal",
    "serviceId":"ATXAgentRegistryExternal",
    "signatureVersion":"v4",
    "signingName":"transform-registry",
    "uid":"atxagentregistryexternal-2022-07-26"
  },
  "operations":{
    "GetAgent":{
      "name":"GetAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/get",
        "responseCode":200
      },
      "input":{"shape":"GetAgentInput"},
      "output":{"shape":"GetAgentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation to access and view an agent's metadata and current configuration details.</p>"
    },
    "GetAgentVersion":{
      "name":"GetAgentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/version",
        "responseCode":200
      },
      "input":{"shape":"GetAgentVersionInput"},
      "output":{"shape":"GetAgentVersionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns version-specific information, including the latest version details or information about a specific version when requested</p>"
    },
    "ListAgentAccessControl":{
      "name":"ListAgentAccessControl",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/access",
        "responseCode":200
      },
      "input":{"shape":"ListAgentAccessControlInput"},
      "output":{"shape":"ListAgentAccessControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation that lists agent managed access controls, for agents with RESTRICTED visibility, this API lists all AWS accounts that have been granted access permissions</p>"
    },
    "ListAgentsByPublisher":{
      "name":"ListAgentsByPublisher",
      "http":{
        "method":"POST",
        "requestUri":"/list",
        "responseCode":200
      },
      "input":{"shape":"ListAgentsByPublisherInput"},
      "output":{"shape":"ListAgentsByPublisherOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation that lists agents for the publisher account ID.</p>"
    },
    "PublishAgentVersion":{
      "name":"PublishAgentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/version/{version}/publish",
        "responseCode":200
      },
      "input":{"shape":"PublishAgentVersionInput"},
      "output":{"shape":"PublishAgentVersionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Operation publishing agent configurations necessary for agent invocation and management. Each version maintains distinct configuration settings</p>"
    },
    "RegisterAgent":{
      "name":"RegisterAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/register",
        "responseCode":200
      },
      "input":{"shape":"RegisterAgentInput"},
      "output":{"shape":"RegisterAgentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Operation to register a new agent with AWS Transform which creates the first version of agent.</p>"
    },
    "UpdateAgent":{
      "name":"UpdateAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentInput"},
      "output":{"shape":"UpdateAgentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation to update the agent metadata</p>"
    },
    "UpdatePublisherAccessControl":{
      "name":"UpdatePublisherAccessControl",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{agentName}/customerAccountId/{customerAccountId}/access",
        "responseCode":200
      },
      "input":{"shape":"UpdatePublisherAccessControlInput"},
      "output":{"shape":"UpdatePublisherAccessControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation that allows an agent publishers to manage access control by adding or removing tenant AWS account IDs that can access their agents</p>"
    }
  },
  "shapes":{
    "AccessControl":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"AccountIdListMemberString"}
    },
    "AccountIdListMemberString":{
      "type":"string",
      "max":50,
      "min":0,
      "pattern":"[0-9]{12}"
    },
    "AgentConfiguration":{
      "type":"structure",
      "required":[
        "shortDescription",
        "agentCard",
        "inputPayloadSchema",
        "outputPayloadSchema",
        "monitoringType",
        "notificationsEnabled",
        "objectiveNegotiationPrompt"
      ],
      "members":{
        "shortDescription":{"shape":"AgentConfigurationShortDescriptionString"},
        "agentCard":{
          "shape":"Document",
          "documentation":"<p>JSON containing A2A-style Card Data</p>"
        },
        "computeConfiguration":{"shape":"ComputeConfiguration"},
        "agentResiliencyConfiguration":{"shape":"LegacyAgentResiliencyConfiguration"},
        "inputPayloadSchema":{"shape":"Document"},
        "outputPayloadSchema":{"shape":"Document"},
        "monitoringType":{"shape":"MonitoringType"},
        "notificationsEnabled":{
          "shape":"NotificationStatus",
          "documentation":"<p>Notifications to the Partner team are enabled/disabled.</p>"
        },
        "objectiveNegotiationPrompt":{"shape":"ObjectiveNegotiationPrompt"},
        "stopAgentConfiguration":{"shape":"StopAgentConfig"}
      }
    },
    "AgentConfigurationShortDescriptionString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "AgentCoreConfiguration":{
      "type":"structure",
      "required":[
        "atxAccessRoleArn",
        "runtimeArn"
      ],
      "members":{
        "atxAccessRoleArn":{"shape":"RoleArn"},
        "runtimeArn":{
          "shape":"String",
          "documentation":"<p>ARN of the AgentCore Runtime Resource</p>"
        },
        "qualifier":{
          "shape":"String",
          "documentation":"<p>Specific Qualifier to be used while invoking the runtime. If not specified, DEFAULT will be used.</p>"
        }
      }
    },
    "AgentDependencyList":{
      "type":"list",
      "member":{"shape":"AgentName"},
      "max":5,
      "min":1
    },
    "AgentMetadata":{
      "type":"structure",
      "required":[
        "type",
        "description",
        "ownerName",
        "ownerAccountId",
        "ownerContactInfo"
      ],
      "members":{
        "type":{"shape":"AgentType"},
        "description":{"shape":"AgentMetadataDescriptionString"},
        "ownerName":{"shape":"AgentMetadataOwnerNameString"},
        "ownerAccountId":{"shape":"AccountId"},
        "ownerContactInfo":{
          "shape":"AgentMetadataOwnerContactInfoString",
          "documentation":"<p>Info about partner communication channels for any notifications about agent</p>"
        },
        "ownerType":{"shape":"OwnerType"},
        "customerConfigurationRequired":{"shape":"Boolean"},
        "customerConfiguredAgentDependencies":{"shape":"AgentDependencyList"},
        "marketplaceMetadata":{"shape":"MarketplaceMetadata"}
      }
    },
    "AgentMetadataDescriptionString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "AgentMetadataOwnerContactInfoString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "AgentMetadataOwnerNameString":{
      "type":"string",
      "max":30,
      "min":1
    },
    "AgentName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-z0-9-]+"
    },
    "AgentNameList":{
      "type":"list",
      "member":{"shape":"AgentName"}
    },
    "AgentRecoveryConfiguration":{
      "type":"structure",
      "required":["recoveryWaitTimeSeconds"],
      "members":{
        "recoveryWaitTimeSeconds":{
          "shape":"Integer",
          "documentation":"<p>Number of seconds to wait for recovery.</p>"
        }
      }
    },
    "AgentRestoreConfiguration":{
      "type":"structure",
      "required":[
        "enableRestoration",
        "maxRestores"
      ],
      "members":{
        "enableRestoration":{
          "shape":"Boolean",
          "documentation":"<p>Enable or disable RestoreAgent API calls.</p>"
        },
        "maxRestores":{
          "shape":"Integer",
          "documentation":"<p>Maximum number of times an agent instance can be restored in its lifecycle.</p>"
        },
        "restoreWaitTimeSeconds":{
          "shape":"AgentRestoreConfigurationRestoreWaitTimeSecondsInteger",
          "documentation":"<p>Number of seconds to wait between restore attempts.</p>"
        }
      }
    },
    "AgentRestoreConfigurationRestoreWaitTimeSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":240
    },
    "AgentType":{
      "type":"string",
      "enum":[
        "ORCHESTRATOR_AGENT",
        "SUB_AGENT"
      ]
    },
    "AgentVisibility":{
      "type":"string",
      "enum":[
        "PUBLIC",
        "RESTRICTED"
      ]
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ComputeConfiguration":{
      "type":"structure",
      "members":{
        "legacyComputeConfiguration":{"shape":"LegacyComputeConfiguration"},
        "provisionedComputeConfiguration":{"shape":"ProvisionedComputeConfiguration"}
      },
      "union":true
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "Document":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "EnvironmentVariable":{
      "type":"structure",
      "required":[
        "name",
        "value"
      ],
      "members":{
        "name":{"shape":"EnvironmentVariableNameString"},
        "value":{"shape":"EnvironmentVariableValue"}
      }
    },
    "EnvironmentVariableList":{
      "type":"list",
      "member":{"shape":"EnvironmentVariable"},
      "max":10,
      "min":1
    },
    "EnvironmentVariableNameString":{
      "type":"string",
      "max":120,
      "min":1
    },
    "EnvironmentVariableValue":{
      "type":"structure",
      "members":{
        "arn":{"shape":"EnvironmentVariableValueArnString"},
        "string":{"shape":"EnvironmentVariableValueStringString"}
      },
      "union":true
    },
    "EnvironmentVariableValueArnString":{
      "type":"string",
      "max":1224,
      "min":0,
      "pattern":"arn:[a-z0-9][-.a-z0-9]{0,62}:secretsmanager:[a-z0-9][-.a-z0-9]{0,62}:[a-z0-9][-.a-z0-9]{0,62}:secret:.{1,512}"
    },
    "EnvironmentVariableValueStringString":{
      "type":"string",
      "max":4096,
      "min":0,
      "sensitive":true
    },
    "GetAgentInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAgentOutput":{
      "type":"structure",
      "members":{
        "metadata":{"shape":"AgentMetadata"},
        "visibility":{"shape":"AgentVisibility"}
      }
    },
    "GetAgentVersionInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "version":{
          "shape":"SemanticVersion",
          "documentation":"<p>Defaults to latest active version if not provided</p>"
        }
      }
    },
    "GetAgentVersionOutput":{
      "type":"structure",
      "required":["status"],
      "members":{
        "version":{"shape":"SemanticVersion"},
        "metadata":{"shape":"AgentMetadata"},
        "visibility":{"shape":"AgentVisibility"},
        "configuration":{"shape":"AgentConfiguration"},
        "status":{"shape":"VersionStatus"},
        "statusMessage":{"shape":"String"}
      }
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "JobOrchestratorMetadata":{
      "type":"structure",
      "required":[
        "chatUILabel",
        "chatAgentIdentifier",
        "a2aSupported"
      ],
      "members":{
        "chatUILabel":{
          "shape":"JobOrchestratorMetadataChatUILabelString",
          "documentation":"<p>Short string to display agent name in the selection buttons of ATX chat.</p>"
        },
        "chatAgentIdentifier":{
          "shape":"JobOrchestratorMetadataChatAgentIdentifierString",
          "documentation":"<p>String used by agent for quick detection of capabilities in ATX chat.</p>"
        },
        "a2aSupported":{
          "shape":"Boolean",
          "documentation":"<p>A2A support status in agent.</p>"
        }
      }
    },
    "JobOrchestratorMetadataChatAgentIdentifierString":{
      "type":"string",
      "max":150,
      "min":1
    },
    "JobOrchestratorMetadataChatUILabelString":{
      "type":"string",
      "max":150,
      "min":1
    },
    "LegacyAgentResiliencyConfiguration":{
      "type":"structure",
      "members":{
        "partnerControllerRetryWindowMinutes":{
          "shape":"LegacyAgentResiliencyConfigurationPartnerControllerRetryWindowMinutesInteger",
          "documentation":"<p>Number of minutes invocation service should continue retrying before failing with 5XX.</p>"
        },
        "agentRestoreConfiguration":{"shape":"AgentRestoreConfiguration"},
        "agentRecoveryConfiguration":{"shape":"AgentRecoveryConfiguration"}
      },
      "documentation":"<p>Configuration around the agent resiliency preferences of the partner agent.</p>"
    },
    "LegacyAgentResiliencyConfigurationPartnerControllerRetryWindowMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":6
    },
    "LegacyComputeConfiguration":{
      "type":"structure",
      "required":[
        "endpoint",
        "region"
      ],
      "members":{
        "endpoint":{"shape":"String"},
        "region":{"shape":"String"}
      }
    },
    "ListAgentAccessControlInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{"shape":"ListAgentAccessControlInputMaxResultsInteger"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListAgentAccessControlInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListAgentAccessControlOutput":{
      "type":"structure",
      "members":{
        "customerAccountIdList":{"shape":"AccountIdList"},
        "visibility":{"shape":"AgentVisibility"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListAgentsByPublisherInput":{
      "type":"structure",
      "members":{}
    },
    "ListAgentsByPublisherOutput":{
      "type":"structure",
      "members":{
        "items":{"shape":"AgentNameList"}
      }
    },
    "MDEConfiguration":{
      "type":"structure",
      "required":[
        "atxAccessRoleArn",
        "bootstrapRoleArn",
        "environmentRoleArn"
      ],
      "members":{
        "atxAccessRoleArn":{"shape":"RoleArn"},
        "bootstrapRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>Used for MDE service to setup the container during launch by pulling ECR image etc. https://w.amazon.com/bin/view/Moontide/MDE/DeveloperGuide#HBootstrapRole</p>"
        },
        "environmentRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>Role used by MDE container during runtime. https://w.amazon.com/bin/view/Moontide/MDE/DeveloperGuide#HEnvironmentcredentials</p>"
        },
        "storageSize":{"shape":"MDEConfigurationStorageSizeInteger"},
        "devfile":{"shape":"String"},
        "instanceType":{"shape":"String"},
        "warmPoolArn":{"shape":"WarmPoolArn"},
        "stagingWarmPoolArn":{"shape":"WarmPoolArn"},
        "maxRuntimeMinutes":{"shape":"MDEConfigurationMaxRuntimeMinutesInteger"},
        "environmentVariables":{"shape":"EnvironmentVariableList"},
        "stagingTrafficPercentage":{
          "shape":"MDEConfigurationStagingTrafficPercentageInteger",
          "documentation":"<p>Percentage of traffic to route to staging [0-100]</p>"
        }
      }
    },
    "MDEConfigurationMaxRuntimeMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":5
    },
    "MDEConfigurationStagingTrafficPercentageInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":0
    },
    "MDEConfigurationStorageSizeInteger":{
      "type":"integer",
      "box":true,
      "max":64,
      "min":0
    },
    "MarketplaceMetadata":{
      "type":"structure",
      "required":["productId"],
      "members":{
        "productId":{
          "shape":"MarketplaceMetadataProductIdString",
          "documentation":"<p>productId used for market place registration</p>"
        }
      }
    },
    "MarketplaceMetadataProductIdString":{
      "type":"string",
      "max":30,
      "min":5,
      "pattern":"[a-z]+-[a-z0-9]+"
    },
    "MonitoringType":{
      "type":"string",
      "enum":[
        "HEARTBEAT",
        "HEALTHCHECK"
      ]
    },
    "NotificationStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "ObjectiveNegotiationPrompt":{"type":"string"},
    "OwnerType":{
      "type":"string",
      "documentation":"<p>Represents the type of agent owner based on their relationship with ATX.</p>",
      "enum":[
        "INTERNAL_AGENT",
        "DIRECT_AGENT",
        "MARKETPLACE_AGENT"
      ]
    },
    "ProvisionedComputeConfiguration":{
      "type":"structure",
      "members":{
        "mdeConfiguration":{"shape":"MDEConfiguration"},
        "agentCoreConfiguration":{"shape":"AgentCoreConfiguration"}
      },
      "union":true
    },
    "PublishAgentVersionInput":{
      "type":"structure",
      "required":[
        "name",
        "version",
        "configuration"
      ],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "version":{
          "shape":"SemanticVersion",
          "location":"uri",
          "locationName":"version"
        },
        "configuration":{"shape":"AgentConfiguration"},
        "idempotencyToken":{
          "shape":"String",
          "idempotencyToken":true
        }
      }
    },
    "PublishAgentVersionOutput":{
      "type":"structure",
      "required":[
        "name",
        "version",
        "status"
      ],
      "members":{
        "name":{"shape":"AgentName"},
        "version":{"shape":"SemanticVersion"},
        "status":{"shape":"VersionStatus"}
      }
    },
    "RegisterAgentInput":{
      "type":"structure",
      "required":[
        "name",
        "metadata"
      ],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "metadata":{"shape":"RegisterAgentMetadata"},
        "idempotencyToken":{
          "shape":"String",
          "idempotencyToken":true
        }
      }
    },
    "RegisterAgentMetadata":{
      "type":"structure",
      "required":[
        "type",
        "description",
        "ownerName",
        "ownerContactInfo",
        "ownerType",
        "customerConfigurationRequired"
      ],
      "members":{
        "type":{"shape":"AgentType"},
        "description":{"shape":"RegisterAgentMetadataDescriptionString"},
        "ownerName":{"shape":"RegisterAgentMetadataOwnerNameString"},
        "ownerContactInfo":{
          "shape":"RegisterAgentMetadataOwnerContactInfoString",
          "documentation":"<p>Info about partner communication channels for any notifications about agent</p>"
        },
        "ownerType":{
          "shape":"OwnerType",
          "documentation":"<p>Indicates the type of the owner</p>"
        },
        "customerConfigurationRequired":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the agent requires customer configuration before it can be used in a job.</p>"
        },
        "customerConfiguredAgentDependencies":{
          "shape":"AgentDependencyList",
          "documentation":"<p>Only applicable for orchestrator agents. List of other agents which require customer configuration before the current orchestrator agent can be usable.</p>"
        },
        "jobOrchestrator":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if this agent serves as entry-point for jobs from ATX Chat</p>"
        },
        "jobOrchestratorMetadata":{
          "shape":"JobOrchestratorMetadata",
          "documentation":"<p>Required additional data if agent is marked as job orchestrator</p>"
        },
        "marketplaceMetadata":{
          "shape":"MarketplaceMetadata",
          "documentation":"<p>Only applicable for market place agents to get the metadata related to the market place registration</p>"
        }
      }
    },
    "RegisterAgentMetadataDescriptionString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "RegisterAgentMetadataOwnerContactInfoString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "RegisterAgentMetadataOwnerNameString":{
      "type":"string",
      "max":30,
      "min":1
    },
    "RegisterAgentOutput":{
      "type":"structure",
      "required":[
        "name",
        "visibility"
      ],
      "members":{
        "name":{"shape":"AgentName"},
        "visibility":{"shape":"AgentVisibility"}
      }
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "SemanticVersion":{
      "type":"string",
      "documentation":"<p>SemVer string restricted to 5 digits per group and only allowing suffix -dev. Also allows the special string latest</p>",
      "pattern":"\\d+\\.\\d+\\.\\d+(?:-dev-[a-zA-Z0-9]+)?"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "StopAgentConfig":{
      "type":"structure",
      "required":[
        "enableStoppingWindow",
        "stoppingTimeWindowInMinutes"
      ],
      "members":{
        "enableStoppingWindow":{"shape":"Boolean"},
        "stoppingTimeWindowInMinutes":{"shape":"StopAgentConfigStoppingTimeWindowInMinutesInteger"}
      }
    },
    "StopAgentConfigStoppingTimeWindowInMinutesInteger":{
      "type":"integer",
      "box":true,
      "max":5
    },
    "String":{"type":"string"},
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "UpdateAgentInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "customerConfiguredAgentDependencies":{
          "shape":"AgentDependencyList",
          "documentation":"<p>Update the list of customer configured agent dependencies for the current agent</p>"
        },
        "marketplaceMetadata":{
          "shape":"MarketplaceMetadata",
          "documentation":"<p>Only applicable for market place agents to get the metadata related to the market place registration</p>"
        }
      }
    },
    "UpdateAgentOutput":{
      "type":"structure",
      "members":{}
    },
    "UpdatePublisherAccessControlInput":{
      "type":"structure",
      "required":[
        "agentName",
        "customerAccountId",
        "accessControl"
      ],
      "members":{
        "agentName":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"agentName"
        },
        "customerAccountId":{
          "shape":"AccountId",
          "location":"uri",
          "locationName":"customerAccountId"
        },
        "accessControl":{"shape":"AccessControl"},
        "idempotencyToken":{
          "shape":"String",
          "idempotencyToken":true
        }
      }
    },
    "UpdatePublisherAccessControlOutput":{
      "type":"structure",
      "members":{}
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "FIELD_VALIDATION_FAILED",
        "OTHER"
      ]
    },
    "VersionStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "IN_VERIFICATION",
        "ACTIVE",
        "VERIFICATION_FAILED"
      ]
    },
    "WarmPoolArn":{
      "type":"string",
      "pattern":"(arn:aws:mde:[a-z0-9-]+:[0-9]{12}:/warmpools/).+.*"
    }
  },
  "clientContextParams":{
    "Stage":{
      "documentation":"The service stage this client will connect to",
      "type":"string"
    }
  }
}
