{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-07-26",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"atxagentregistryexternal",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"ATXAgentRegistryExternal",
    "serviceId":"ATXAgentRegistryExternal",
    "signatureVersion":"v4",
    "signingName":"transform-registry",
    "uid":"atxagentregistryexternal-2022-07-26"
  },
  "operations":{
    "CreateDiagnosis":{
      "name":"CreateDiagnosis",
      "http":{
        "method":"POST",
        "requestUri":"/diagnosis/create",
        "responseCode":200
      },
      "input":{"shape":"CreateDiagnosisInput"},
      "output":{"shape":"CreateDiagnosisOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new diagnosis for debugging agent issues within a workspace job.</p>",
      "idempotent":true
    },
    "CreateSkillDownloadUrl":{
      "name":"CreateSkillDownloadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/create-skill-download-url",
        "responseCode":200
      },
      "input":{"shape":"CreateSkillDownloadUrlInput"},
      "output":{"shape":"CreateSkillDownloadUrlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateSkillUploadUrl":{
      "name":"CreateSkillUploadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/create-skill-upload-url",
        "responseCode":200
      },
      "input":{"shape":"CreateSkillUploadUrlInput"},
      "output":{"shape":"CreateSkillUploadUrlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "CreateTestAgentInstance":{
      "name":"CreateTestAgentInstance",
      "http":{
        "method":"POST",
        "requestUri":"/test/agent-instance",
        "responseCode":200
      },
      "input":{"shape":"CreateTestAgentInstanceInput"},
      "output":{"shape":"CreateTestAgentInstanceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a test agent instance with authorization token for local development. If jobId is omitted, a new test job is created automatically.</p>",
      "idempotent":true
    },
    "CreateTestConnector":{
      "name":"CreateTestConnector",
      "http":{
        "method":"POST",
        "requestUri":"/test/connector",
        "responseCode":200
      },
      "input":{"shape":"CreateTestConnectorInput"},
      "output":{"shape":"CreateTestConnectorOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a test connector with same-account role, bypassing admin approval.</p>",
      "idempotent":true
    },
    "DeregisterAgent":{
      "name":"DeregisterAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/deregister",
        "responseCode":200
      },
      "input":{"shape":"DeregisterAgentInput"},
      "output":{"shape":"DeregisterAgentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation to deregister an agent. Completes synchronously when no active agent instances exist, or asynchronously with the force flag to stop running instances and fail associated jobs before cleanup.</p>"
    },
    "GetAgent":{
      "name":"GetAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/get",
        "responseCode":200
      },
      "input":{"shape":"GetAgentInput"},
      "output":{"shape":"GetAgentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation to access and view an agent's metadata and current configuration details.</p>"
    },
    "GetAgentVersion":{
      "name":"GetAgentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/version",
        "responseCode":200
      },
      "input":{"shape":"GetAgentVersionInput"},
      "output":{"shape":"GetAgentVersionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns version-specific information, including the latest version details or information about a specific version when requested</p>"
    },
    "GetDiagnosis":{
      "name":"GetDiagnosis",
      "http":{
        "method":"POST",
        "requestUri":"/diagnosis/get",
        "responseCode":200
      },
      "input":{"shape":"GetDiagnosisInput"},
      "output":{"shape":"GetDiagnosisOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the status and result of a diagnosis.</p>",
      "readonly":true
    },
    "GetSkillMetadata":{
      "name":"GetSkillMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/skills/{skillName}",
        "responseCode":200
      },
      "input":{"shape":"GetSkillMetadataInput"},
      "output":{"shape":"GetSkillMetadataOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListAgentAccessControl":{
      "name":"ListAgentAccessControl",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/access",
        "responseCode":200
      },
      "input":{"shape":"ListAgentAccessControlInput"},
      "output":{"shape":"ListAgentAccessControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation that lists agent managed access controls, for agents with RESTRICTED visibility, this API lists all AWS accounts that have been granted access permissions</p>"
    },
    "ListAgents":{
      "name":"ListAgents",
      "http":{
        "method":"POST",
        "requestUri":"/agents/list",
        "responseCode":200
      },
      "input":{"shape":"ListAgentsInput"},
      "output":{"shape":"ListAgentsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation that lists all agents available to the caller's account.</p>"
    },
    "ListAgentsByPublisher":{
      "name":"ListAgentsByPublisher",
      "http":{
        "method":"POST",
        "requestUri":"/list",
        "responseCode":200
      },
      "input":{"shape":"ListAgentsByPublisherInput"},
      "output":{"shape":"ListAgentsByPublisherOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation that lists agents for the publisher account ID.</p>"
    },
    "ListDiagnoses":{
      "name":"ListDiagnoses",
      "http":{
        "method":"POST",
        "requestUri":"/diagnoses/list",
        "responseCode":200
      },
      "input":{"shape":"ListDiagnosesInput"},
      "output":{"shape":"ListDiagnosesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists diagnoses for a given workspace, optionally filtered by job.</p>",
      "readonly":true
    },
    "ListSkillAccessControl":{
      "name":"ListSkillAccessControl",
      "http":{
        "method":"POST",
        "requestUri":"/list-skill-access-control",
        "responseCode":200
      },
      "input":{"shape":"ListSkillAccessControlInput"},
      "output":{"shape":"ListSkillAccessControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListSkillVersions":{
      "name":"ListSkillVersions",
      "http":{
        "method":"POST",
        "requestUri":"/list-skill-versions",
        "responseCode":200
      },
      "input":{"shape":"ListSkillVersionsInput"},
      "output":{"shape":"ListSkillVersionsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListSkills":{
      "name":"ListSkills",
      "http":{
        "method":"POST",
        "requestUri":"/list-skills",
        "responseCode":200
      },
      "input":{"shape":"ListSkillsInput"},
      "output":{"shape":"ListSkillsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "PublishAgentVersion":{
      "name":"PublishAgentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/version/{version}/publish",
        "responseCode":200
      },
      "input":{"shape":"PublishAgentVersionInput"},
      "output":{"shape":"PublishAgentVersionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Operation publishing agent configurations necessary for agent invocation and management. Each version maintains distinct configuration settings</p>"
    },
    "RegisterAgent":{
      "name":"RegisterAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/register",
        "responseCode":200
      },
      "input":{"shape":"RegisterAgentInput"},
      "output":{"shape":"RegisterAgentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Operation to register a new agent with AWS Transform which creates the first version of agent.</p>"
    },
    "UpdateAgent":{
      "name":"UpdateAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{name}/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentInput"},
      "output":{"shape":"UpdateAgentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation to update the agent metadata</p>"
    },
    "UpdatePublisherAccessControl":{
      "name":"UpdatePublisherAccessControl",
      "http":{
        "method":"POST",
        "requestUri":"/agent/{agentName}/customerAccountId/{customerAccountId}/access",
        "responseCode":200
      },
      "input":{"shape":"UpdatePublisherAccessControlInput"},
      "output":{"shape":"UpdatePublisherAccessControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation that allows an agent publishers to manage access control by adding or removing tenant AWS account IDs that can access their agents</p>"
    },
    "UpdateSkillAccessControl":{
      "name":"UpdateSkillAccessControl",
      "http":{
        "method":"POST",
        "requestUri":"/update-skill-access-control",
        "responseCode":200
      },
      "input":{"shape":"UpdateSkillAccessControlInput"},
      "output":{"shape":"UpdateSkillAccessControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "UpdateSkillMetadata":{
      "name":"UpdateSkillMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/skills/{skillName}/metadata",
        "responseCode":200
      },
      "input":{"shape":"UpdateSkillMetadataInput"},
      "output":{"shape":"UpdateSkillMetadataOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ]
    },
    "ValidateAgentSetup":{
      "name":"ValidateAgentSetup",
      "http":{
        "method":"POST",
        "requestUri":"/validate-agent-setup",
        "responseCode":200
      },
      "input":{"shape":"ValidateAgentSetupInput"},
      "output":{"shape":"ValidateAgentSetupOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Validates that an agent is correctly set up and reachable.</p>",
      "readonly":true
    }
  },
  "shapes":{
    "AccessControl":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AccessControlType":{
      "type":"string",
      "enum":[
        "ENABLED_AGENTS",
        "ALL_AGENTS"
      ]
    },
    "AccessControlTypeFilter":{
      "type":"structure",
      "required":["accessControlType"],
      "members":{
        "accessControlType":{"shape":"AccessControlType"}
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessFilter":{
      "type":"string",
      "enum":[
        "PUBLIC",
        "PRIVATE"
      ]
    },
    "AccessStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"AccountIdListMemberString"}
    },
    "AccountIdListMemberString":{
      "type":"string",
      "max":50,
      "min":0,
      "pattern":"[0-9]{12}"
    },
    "AgentConfiguration":{
      "type":"structure",
      "required":[
        "shortDescription",
        "agentCard",
        "inputPayloadSchema",
        "outputPayloadSchema",
        "monitoringType",
        "notificationsEnabled",
        "objectiveNegotiationPrompt"
      ],
      "members":{
        "shortDescription":{"shape":"AgentConfigurationShortDescriptionString"},
        "agentCard":{
          "shape":"Document",
          "documentation":"<p>JSON containing A2A-style Card Data</p>"
        },
        "computeConfiguration":{"shape":"ComputeConfiguration"},
        "agentResiliencyConfiguration":{"shape":"LegacyAgentResiliencyConfiguration"},
        "inputPayloadSchema":{"shape":"Document"},
        "outputPayloadSchema":{"shape":"Document"},
        "monitoringType":{"shape":"MonitoringType"},
        "notificationsEnabled":{
          "shape":"NotificationStatus",
          "documentation":"<p>Notifications to the Partner team are enabled/disabled.</p>"
        },
        "objectiveNegotiationPrompt":{"shape":"ObjectiveNegotiationPrompt"},
        "stopAgentConfiguration":{"shape":"StopAgentConfig"}
      }
    },
    "AgentConfigurationShortDescriptionString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "AgentCoreConfiguration":{
      "type":"structure",
      "required":[
        "atxAccessRoleArn",
        "runtimeArn"
      ],
      "members":{
        "atxAccessRoleArn":{"shape":"RoleArn"},
        "runtimeArn":{
          "shape":"AgentCoreRuntimeArn",
          "documentation":"<p>ARN of the AgentCore Runtime Resource</p>"
        },
        "qualifier":{
          "shape":"String",
          "documentation":"<p>Specific Qualifier to be used while invoking the runtime. If not specified, DEFAULT will be used.</p>"
        },
        "stagingRuntimeArn":{
          "shape":"AgentCoreRuntimeArn",
          "documentation":"<p>ARN of the staging AgentCore Runtime Resource</p>"
        },
        "stagingQualifier":{
          "shape":"String",
          "documentation":"<p>Specific Qualifier to be used while invoking the staging runtime.</p>"
        },
        "stagingTrafficPercentage":{
          "shape":"AgentCoreConfigurationStagingTrafficPercentageInteger",
          "documentation":"<p>Percentage of traffic to route to staging [0-100]</p>"
        }
      }
    },
    "AgentCoreConfigurationStagingTrafficPercentageInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":0
    },
    "AgentCoreRuntimeArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z0-9-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:runtime/.+"
    },
    "AgentDependencyList":{
      "type":"list",
      "member":{"shape":"AgentName"},
      "max":5,
      "min":1
    },
    "AgentMetadata":{
      "type":"structure",
      "required":[
        "type",
        "description",
        "ownerName",
        "ownerAccountId",
        "ownerContactInfo"
      ],
      "members":{
        "type":{"shape":"AgentType"},
        "description":{"shape":"AgentMetadataDescriptionString"},
        "ownerName":{"shape":"AgentMetadataOwnerNameString"},
        "ownerAccountId":{"shape":"AccountId"},
        "ownerContactInfo":{
          "shape":"AgentMetadataOwnerContactInfoString",
          "documentation":"<p>Info about partner communication channels for any notifications about agent</p>"
        },
        "ownerType":{"shape":"OwnerType"},
        "customerConfigurationRequired":{"shape":"Boolean"},
        "customerConfiguredAgentDependencies":{"shape":"AgentDependencyList"},
        "marketplaceMetadata":{"shape":"MarketplaceMetadata"},
        "deprecated":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the agent is deprecated</p>"
        }
      }
    },
    "AgentMetadataDescriptionString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "AgentMetadataOwnerContactInfoString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "AgentMetadataOwnerNameString":{
      "type":"string",
      "max":30,
      "min":1
    },
    "AgentMetadataSummaries":{
      "type":"list",
      "member":{"shape":"AgentMetadataSummary"},
      "max":10,
      "min":0
    },
    "AgentMetadataSummary":{
      "type":"structure",
      "members":{
        "name":{"shape":"AgentName"},
        "type":{"shape":"AgentType"},
        "ownerType":{"shape":"String"},
        "ownerName":{"shape":"String"},
        "description":{"shape":"String"},
        "accountAccess":{"shape":"AccessControl"},
        "customerConfigurationRequired":{"shape":"Boolean"},
        "customerConfiguredAgentDependencies":{"shape":"AgentDependencyList"},
        "visibility":{
          "shape":"AgentVisibility",
          "documentation":"<p>Agent visibility status configured by the partner</p>"
        },
        "jobOrchestrator":{"shape":"Boolean"},
        "jobOrchestratorMetadata":{"shape":"JobOrchestratorMetadata"},
        "marketplaceMetadata":{"shape":"MarketplaceMetadata"},
        "deprecated":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the agent is deprecated</p>"
        }
      }
    },
    "AgentName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-z0-9-]+"
    },
    "AgentNameList":{
      "type":"list",
      "member":{"shape":"AgentName"}
    },
    "AgentRecoveryConfiguration":{
      "type":"structure",
      "required":["recoveryWaitTimeSeconds"],
      "members":{
        "recoveryWaitTimeSeconds":{
          "shape":"Integer",
          "documentation":"<p>Number of seconds to wait for recovery.</p>"
        }
      }
    },
    "AgentRestoreConfiguration":{
      "type":"structure",
      "required":[
        "enableRestoration",
        "maxRestores"
      ],
      "members":{
        "enableRestoration":{
          "shape":"Boolean",
          "documentation":"<p>Enable or disable RestoreAgent API calls.</p>"
        },
        "maxRestores":{
          "shape":"Integer",
          "documentation":"<p>Maximum number of times an agent instance can be restored in its lifecycle.</p>"
        },
        "restoreWaitTimeSeconds":{
          "shape":"AgentRestoreConfigurationRestoreWaitTimeSecondsInteger",
          "documentation":"<p>Number of seconds to wait between restore attempts.</p>"
        }
      }
    },
    "AgentRestoreConfigurationRestoreWaitTimeSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":240
    },
    "AgentType":{
      "type":"string",
      "enum":[
        "ORCHESTRATOR_AGENT",
        "SUB_AGENT"
      ]
    },
    "AgentTypeFilter":{
      "type":"structure",
      "required":["agentType"],
      "members":{
        "agentType":{"shape":"AgentType"}
      }
    },
    "AgentVisibility":{
      "type":"string",
      "enum":[
        "PUBLIC",
        "RESTRICTED"
      ]
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ComputeConfiguration":{
      "type":"structure",
      "members":{
        "legacyComputeConfiguration":{"shape":"LegacyComputeConfiguration"},
        "provisionedComputeConfiguration":{"shape":"ProvisionedComputeConfiguration"}
      },
      "union":true
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContentDigest":{
      "type":"structure",
      "members":{
        "sha256":{"shape":"Sha256Checksum"}
      },
      "union":true
    },
    "CreateDiagnosisInput":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId"
      ],
      "members":{
        "workspaceId":{"shape":"Uuid"},
        "jobId":{"shape":"Uuid"},
        "agentInstanceId":{"shape":"Uuid"},
        "question":{"shape":"CreateDiagnosisInputQuestionString"},
        "clientToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateDiagnosisInputQuestionString":{
      "type":"string",
      "max":100000,
      "min":0,
      "sensitive":true
    },
    "CreateDiagnosisOutput":{
      "type":"structure",
      "required":["diagnosisId"],
      "members":{
        "diagnosisId":{"shape":"Uuid"}
      }
    },
    "CreateSkillDownloadUrlInput":{
      "type":"structure",
      "required":["skillName"],
      "members":{
        "skillName":{"shape":"SkillName"},
        "idempotencyToken":{"shape":"IdempotencyToken"},
        "version":{
          "shape":"SemanticVersion",
          "documentation":"<p>Specific version to update. When provided, updates version-level metadata/status.</p>"
        }
      }
    },
    "CreateSkillDownloadUrlOutput":{
      "type":"structure",
      "required":[
        "s3PreSignedUrl",
        "s3UrlExpiryTimestamp",
        "requestHeaders"
      ],
      "members":{
        "s3PreSignedUrl":{"shape":"S3PreSignedUrl"},
        "s3UrlExpiryTimestamp":{"shape":"Long"},
        "requestHeaders":{"shape":"RequestHeaders"},
        "version":{"shape":"SemanticVersion"}
      }
    },
    "CreateSkillUploadUrlInput":{
      "type":"structure",
      "required":[
        "skillName",
        "version",
        "description",
        "contentDigest"
      ],
      "members":{
        "skillName":{"shape":"SkillName"},
        "version":{"shape":"SemanticVersion"},
        "description":{"shape":"SkillDescription"},
        "visibility":{"shape":"SkillVisibility"},
        "contentDigest":{"shape":"ContentDigest"},
        "idempotencyToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateSkillUploadUrlOutput":{
      "type":"structure",
      "required":[
        "skillName",
        "version",
        "versionStatus",
        "s3PreSignedUrl",
        "s3UrlExpiryTimestamp",
        "requestHeaders"
      ],
      "members":{
        "skillName":{"shape":"SkillName"},
        "version":{"shape":"SemanticVersion"},
        "versionStatus":{"shape":"SkillVersionStatus"},
        "s3PreSignedUrl":{"shape":"S3PreSignedUrl"},
        "s3UrlExpiryTimestamp":{"shape":"Long"},
        "requestHeaders":{"shape":"RequestHeaders"}
      }
    },
    "CreateTestAgentInstanceInput":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"Uuid"},
        "jobId":{
          "shape":"Uuid",
          "documentation":"<p>Optional. If omitted, a new test job is created. If provided, must be an existing dev test job owned by the caller.</p>"
        },
        "agentType":{
          "shape":"AgentType",
          "documentation":"<p>Optional agent type. Defaults to ORCHESTRATOR_AGENT if not provided.</p>"
        },
        "objective":{
          "shape":"CreateTestAgentInstanceInputObjectiveString",
          "documentation":"<p>Optional job objective. Used when creating a new test job.</p>"
        },
        "inputPayload":{"shape":"CreateTestAgentInstanceInputInputPayloadString"},
        "idempotencyToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateTestAgentInstanceInputInputPayloadString":{
      "type":"string",
      "max":10000,
      "min":0
    },
    "CreateTestAgentInstanceInputObjectiveString":{
      "type":"string",
      "max":600,
      "min":0
    },
    "CreateTestAgentInstanceOutput":{
      "type":"structure",
      "required":[
        "agentInstanceId",
        "jobId",
        "authorizationToken",
        "expiresAt"
      ],
      "members":{
        "agentInstanceId":{"shape":"Uuid"},
        "jobId":{"shape":"Uuid"},
        "authorizationToken":{"shape":"SensitiveString"},
        "expiresAt":{"shape":"Timestamp"}
      }
    },
    "CreateTestConnectorInput":{
      "type":"structure",
      "required":[
        "workspaceId",
        "roleArn",
        "connectorName"
      ],
      "members":{
        "workspaceId":{"shape":"Uuid"},
        "roleArn":{"shape":"RoleArn"},
        "connectorName":{"shape":"CreateTestConnectorInputConnectorNameString"},
        "idempotencyToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateTestConnectorInputConnectorNameString":{
      "type":"string",
      "max":255,
      "min":0
    },
    "CreateTestConnectorOutput":{
      "type":"structure",
      "required":["connectorId"],
      "members":{
        "connectorId":{"shape":"Uuid"}
      }
    },
    "DeregisterAgentInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "force":{
          "shape":"Boolean",
          "documentation":"<p>When true, acknowledges active instances exist and triggers async deregistration. When false (default), rejects if active instances are found.</p>"
        },
        "idempotencyToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        }
      }
    },
    "DeregisterAgentOutput":{
      "type":"structure",
      "members":{
        "deregistrationStatus":{"shape":"DeregistrationStatus"}
      }
    },
    "DeregistrationStatus":{
      "type":"string",
      "enum":[
        "DEREGISTERED",
        "DEREGISTRATION_IN_PROGRESS"
      ]
    },
    "DiagnosisResult":{
      "type":"structure",
      "required":[
        "summary",
        "explanation"
      ],
      "members":{
        "summary":{"shape":"String"},
        "explanation":{"shape":"String"},
        "severity":{"shape":"DiagnosisSeverity"},
        "suggestedActions":{"shape":"SuggestedActionList"}
      }
    },
    "DiagnosisSeverity":{
      "type":"string",
      "enum":[
        "AGENT_ERROR",
        "PLATFORM_ERROR",
        "CONFIGURATION_ERROR",
        "TIMEOUT"
      ]
    },
    "DiagnosisStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "COMPLETE",
        "FAILED"
      ]
    },
    "DiagnosisSummary":{
      "type":"structure",
      "required":[
        "diagnosisId",
        "status",
        "createdAt"
      ],
      "members":{
        "diagnosisId":{"shape":"String"},
        "status":{"shape":"DiagnosisStatus"},
        "createdAt":{"shape":"Timestamp"},
        "jobId":{"shape":"String"},
        "summary":{"shape":"String"}
      }
    },
    "DiagnosisSummaryList":{
      "type":"list",
      "member":{"shape":"DiagnosisSummary"}
    },
    "Document":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "EnvironmentVariable":{
      "type":"structure",
      "required":[
        "name",
        "value"
      ],
      "members":{
        "name":{"shape":"EnvironmentVariableNameString"},
        "value":{"shape":"EnvironmentVariableValue"}
      }
    },
    "EnvironmentVariableList":{
      "type":"list",
      "member":{"shape":"EnvironmentVariable"},
      "max":10,
      "min":1
    },
    "EnvironmentVariableNameString":{
      "type":"string",
      "max":120,
      "min":1
    },
    "EnvironmentVariableValue":{
      "type":"structure",
      "members":{
        "arn":{"shape":"EnvironmentVariableValueArnString"},
        "string":{"shape":"EnvironmentVariableValueStringString"}
      },
      "union":true
    },
    "EnvironmentVariableValueArnString":{
      "type":"string",
      "max":1224,
      "min":0,
      "pattern":"arn:[a-z0-9][-.a-z0-9]{0,62}:secretsmanager:[a-z0-9][-.a-z0-9]{0,62}:[a-z0-9][-.a-z0-9]{0,62}:secret:.{1,512}"
    },
    "EnvironmentVariableValueStringString":{
      "type":"string",
      "max":4096,
      "min":0,
      "sensitive":true
    },
    "GetAgentInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAgentOutput":{
      "type":"structure",
      "members":{
        "metadata":{"shape":"AgentMetadata"},
        "visibility":{"shape":"AgentVisibility"}
      }
    },
    "GetAgentVersionInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "version":{
          "shape":"SemanticVersion",
          "documentation":"<p>Defaults to latest active version if not provided</p>"
        }
      }
    },
    "GetAgentVersionOutput":{
      "type":"structure",
      "required":["status"],
      "members":{
        "version":{"shape":"SemanticVersion"},
        "metadata":{"shape":"AgentMetadata"},
        "visibility":{"shape":"AgentVisibility"},
        "configuration":{"shape":"AgentConfiguration"},
        "status":{"shape":"VersionStatus"},
        "statusMessage":{"shape":"String"}
      }
    },
    "GetDiagnosisInput":{
      "type":"structure",
      "required":["diagnosisId"],
      "members":{
        "diagnosisId":{"shape":"Uuid"}
      }
    },
    "GetDiagnosisOutput":{
      "type":"structure",
      "required":[
        "diagnosisId",
        "status",
        "createdAt"
      ],
      "members":{
        "diagnosisId":{"shape":"Uuid"},
        "status":{"shape":"DiagnosisStatus"},
        "createdAt":{"shape":"Timestamp"},
        "result":{"shape":"DiagnosisResult"}
      }
    },
    "GetSkillMetadataInput":{
      "type":"structure",
      "required":["skillName"],
      "members":{
        "skillName":{
          "shape":"SkillName",
          "location":"uri",
          "locationName":"skillName"
        },
        "version":{
          "shape":"SemanticVersion",
          "documentation":"<p>Specific version to update. When provided, updates version-level metadata/status.</p>"
        }
      }
    },
    "GetSkillMetadataOutput":{
      "type":"structure",
      "required":[
        "skillName",
        "description",
        "visibility",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "skillName":{"shape":"SkillName"},
        "description":{"shape":"SkillDescription"},
        "visibility":{"shape":"SkillVisibility"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "version":{"shape":"SemanticVersion"},
        "versionStatus":{"shape":"SkillVersionStatus"}
      }
    },
    "HeadersList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "IdempotencyToken":{
      "type":"string",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "JobOrchestratorFilter":{
      "type":"structure",
      "required":["jobOrchestrator"],
      "members":{
        "jobOrchestrator":{"shape":"Boolean"}
      }
    },
    "JobOrchestratorMetadata":{
      "type":"structure",
      "required":[
        "chatUILabel",
        "chatAgentIdentifier",
        "a2aSupported"
      ],
      "members":{
        "chatUILabel":{
          "shape":"JobOrchestratorMetadataChatUILabelString",
          "documentation":"<p>Short string to display agent name in the selection buttons of ATX chat.</p>"
        },
        "chatAgentIdentifier":{
          "shape":"JobOrchestratorMetadataChatAgentIdentifierString",
          "documentation":"<p>String used by agent for quick detection of capabilities in ATX chat.</p>"
        },
        "a2aSupported":{
          "shape":"Boolean",
          "documentation":"<p>A2A support status in agent.</p>"
        }
      }
    },
    "JobOrchestratorMetadataChatAgentIdentifierString":{
      "type":"string",
      "max":150,
      "min":1
    },
    "JobOrchestratorMetadataChatUILabelString":{
      "type":"string",
      "max":150,
      "min":1
    },
    "LegacyAgentResiliencyConfiguration":{
      "type":"structure",
      "members":{
        "partnerControllerRetryWindowMinutes":{
          "shape":"LegacyAgentResiliencyConfigurationPartnerControllerRetryWindowMinutesInteger",
          "documentation":"<p>Number of minutes invocation service should continue retrying before failing with 5XX.</p>"
        },
        "agentRestoreConfiguration":{"shape":"AgentRestoreConfiguration"},
        "agentRecoveryConfiguration":{"shape":"AgentRecoveryConfiguration"}
      },
      "documentation":"<p>Configuration around the agent resiliency preferences of the partner agent.</p>"
    },
    "LegacyAgentResiliencyConfigurationPartnerControllerRetryWindowMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":6
    },
    "LegacyComputeConfiguration":{
      "type":"structure",
      "required":[
        "endpoint",
        "region"
      ],
      "members":{
        "endpoint":{"shape":"String"},
        "region":{"shape":"String"}
      }
    },
    "ListAgentAccessControlInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{"shape":"ListAgentAccessControlInputMaxResultsInteger"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListAgentAccessControlInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListAgentAccessControlOutput":{
      "type":"structure",
      "members":{
        "customerAccountIdList":{"shape":"AccountIdList"},
        "visibility":{"shape":"AgentVisibility"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListAgentFilter":{
      "type":"structure",
      "members":{
        "jobOrchestratorFilter":{"shape":"JobOrchestratorFilter"},
        "agentTypeFilter":{"shape":"AgentTypeFilter"},
        "accessControlFilter":{"shape":"AccessControlTypeFilter"},
        "ownerTypeFilter":{"shape":"OwnerTypeFilter"}
      },
      "union":true
    },
    "ListAgentsByPublisherInput":{
      "type":"structure",
      "members":{}
    },
    "ListAgentsByPublisherOutput":{
      "type":"structure",
      "members":{
        "items":{"shape":"AgentNameList"}
      }
    },
    "ListAgentsInput":{
      "type":"structure",
      "members":{
        "agentFilter":{"shape":"ListAgentFilter"},
        "includeDeprecated":{
          "shape":"Boolean",
          "documentation":"<p>Whether to include deprecated agents in the response.</p>"
        },
        "nextToken":{"shape":"String"},
        "maxResults":{"shape":"ListAgentsInputMaxResultsInteger"}
      }
    },
    "ListAgentsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "ListAgentsOutput":{
      "type":"structure",
      "members":{
        "items":{"shape":"AgentMetadataSummaries"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListDiagnosesInput":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"Uuid"},
        "jobId":{"shape":"Uuid"},
        "nextToken":{"shape":"String"},
        "maxResults":{"shape":"Integer"}
      }
    },
    "ListDiagnosesOutput":{
      "type":"structure",
      "required":["diagnoses"],
      "members":{
        "diagnoses":{"shape":"DiagnosisSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListSkillAccessControlInput":{
      "type":"structure",
      "required":["skillName"],
      "members":{
        "skillName":{"shape":"SkillName"}
      }
    },
    "ListSkillAccessControlOutput":{
      "type":"structure",
      "required":["accountIds"],
      "members":{
        "accountIds":{"shape":"AccountIdList"}
      }
    },
    "ListSkillVersionsInput":{
      "type":"structure",
      "required":["skillName"],
      "members":{
        "skillName":{"shape":"SkillName"},
        "maxResults":{"shape":"ListSkillVersionsInputMaxResultsInteger"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListSkillVersionsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListSkillVersionsOutput":{
      "type":"structure",
      "required":["skillVersions"],
      "members":{
        "skillVersions":{"shape":"SkillVersionSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListSkillsInput":{
      "type":"structure",
      "members":{
        "filter":{"shape":"SkillFilter"},
        "maxResults":{"shape":"ListSkillsInputMaxResultsInteger"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListSkillsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListSkillsOutput":{
      "type":"structure",
      "required":["skills"],
      "members":{
        "skills":{"shape":"SkillSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "MDEConfiguration":{
      "type":"structure",
      "required":[
        "atxAccessRoleArn",
        "bootstrapRoleArn",
        "environmentRoleArn"
      ],
      "members":{
        "atxAccessRoleArn":{"shape":"RoleArn"},
        "bootstrapRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>Used for MDE service to setup the container during launch by pulling ECR image etc. https://w.amazon.com/bin/view/Moontide/MDE/DeveloperGuide#HBootstrapRole</p>"
        },
        "environmentRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>Role used by MDE container during runtime. https://w.amazon.com/bin/view/Moontide/MDE/DeveloperGuide#HEnvironmentcredentials</p>"
        },
        "storageSize":{"shape":"MDEConfigurationStorageSizeInteger"},
        "devfile":{"shape":"String"},
        "instanceType":{"shape":"String"},
        "warmPoolArn":{"shape":"WarmPoolArn"},
        "stagingWarmPoolArn":{"shape":"WarmPoolArn"},
        "maxRuntimeMinutes":{"shape":"MDEConfigurationMaxRuntimeMinutesInteger"},
        "environmentVariables":{"shape":"EnvironmentVariableList"},
        "stagingTrafficPercentage":{
          "shape":"MDEConfigurationStagingTrafficPercentageInteger",
          "documentation":"<p>Percentage of traffic to route to staging [0-100]</p>"
        }
      }
    },
    "MDEConfigurationMaxRuntimeMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":5
    },
    "MDEConfigurationStagingTrafficPercentageInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":0
    },
    "MDEConfigurationStorageSizeInteger":{
      "type":"integer",
      "box":true,
      "max":64,
      "min":0
    },
    "MarketplaceMetadata":{
      "type":"structure",
      "required":["productId"],
      "members":{
        "productId":{
          "shape":"MarketplaceMetadataProductIdString",
          "documentation":"<p>productId used for market place registration</p>"
        }
      }
    },
    "MarketplaceMetadataProductIdString":{
      "type":"string",
      "max":30,
      "min":5,
      "pattern":"[a-z]+-[a-z0-9]+"
    },
    "MonitoringType":{
      "type":"string",
      "enum":[
        "HEARTBEAT",
        "HEALTHCHECK"
      ]
    },
    "NotificationStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "ObjectiveNegotiationPrompt":{"type":"string"},
    "OwnerType":{
      "type":"string",
      "documentation":"<p>Represents the type of agent owner based on their relationship with ATX.</p>",
      "enum":[
        "INTERNAL_AGENT",
        "DIRECT_AGENT",
        "MARKETPLACE_AGENT"
      ]
    },
    "OwnerTypeFilter":{
      "type":"structure",
      "required":["ownerType"],
      "members":{
        "ownerType":{"shape":"OwnerType"},
        "accessControlType":{"shape":"AccessControlType"}
      }
    },
    "ProvisionedComputeConfiguration":{
      "type":"structure",
      "members":{
        "mdeConfiguration":{"shape":"MDEConfiguration"},
        "agentCoreConfiguration":{"shape":"AgentCoreConfiguration"}
      },
      "union":true
    },
    "PublishAgentVersionInput":{
      "type":"structure",
      "required":[
        "name",
        "version",
        "configuration"
      ],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "version":{
          "shape":"SemanticVersion",
          "location":"uri",
          "locationName":"version"
        },
        "configuration":{"shape":"AgentConfiguration"},
        "idempotencyToken":{
          "shape":"String",
          "idempotencyToken":true
        }
      }
    },
    "PublishAgentVersionOutput":{
      "type":"structure",
      "required":[
        "name",
        "version",
        "status"
      ],
      "members":{
        "name":{"shape":"AgentName"},
        "version":{"shape":"SemanticVersion"},
        "status":{"shape":"VersionStatus"}
      }
    },
    "RegisterAgentInput":{
      "type":"structure",
      "required":[
        "name",
        "metadata"
      ],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "metadata":{"shape":"RegisterAgentMetadata"},
        "idempotencyToken":{
          "shape":"String",
          "idempotencyToken":true
        }
      }
    },
    "RegisterAgentMetadata":{
      "type":"structure",
      "required":[
        "type",
        "description",
        "ownerName",
        "ownerContactInfo",
        "ownerType",
        "customerConfigurationRequired"
      ],
      "members":{
        "type":{"shape":"AgentType"},
        "description":{"shape":"RegisterAgentMetadataDescriptionString"},
        "ownerName":{"shape":"RegisterAgentMetadataOwnerNameString"},
        "ownerContactInfo":{
          "shape":"RegisterAgentMetadataOwnerContactInfoString",
          "documentation":"<p>Info about partner communication channels for any notifications about agent</p>"
        },
        "ownerType":{
          "shape":"OwnerType",
          "documentation":"<p>Indicates the type of the owner</p>"
        },
        "customerConfigurationRequired":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the agent requires customer configuration before it can be used in a job.</p>"
        },
        "customerConfiguredAgentDependencies":{
          "shape":"AgentDependencyList",
          "documentation":"<p>Only applicable for orchestrator agents. List of other agents which require customer configuration before the current orchestrator agent can be usable.</p>"
        },
        "jobOrchestrator":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if this agent serves as entry-point for jobs from ATX Chat</p>"
        },
        "jobOrchestratorMetadata":{
          "shape":"JobOrchestratorMetadata",
          "documentation":"<p>Required additional data if agent is marked as job orchestrator</p>"
        },
        "marketplaceMetadata":{
          "shape":"MarketplaceMetadata",
          "documentation":"<p>Only applicable for market place agents to get the metadata related to the market place registration</p>"
        }
      }
    },
    "RegisterAgentMetadataDescriptionString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "RegisterAgentMetadataOwnerContactInfoString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "RegisterAgentMetadataOwnerNameString":{
      "type":"string",
      "max":30,
      "min":1
    },
    "RegisterAgentOutput":{
      "type":"structure",
      "required":[
        "name",
        "visibility"
      ],
      "members":{
        "name":{"shape":"AgentName"},
        "visibility":{"shape":"AgentVisibility"}
      }
    },
    "RequestHeaders":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"HeadersList"}
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "S3PreSignedUrl":{
      "type":"string",
      "sensitive":true
    },
    "SemanticVersion":{
      "type":"string",
      "documentation":"<p>SemVer string restricted to 5 digits per group and only allowing suffix -dev. Also allows the special string latest</p>",
      "pattern":"\\d+\\.\\d+\\.\\d+(?:-dev-[a-zA-Z0-9]+)?"
    },
    "SensitiveString":{
      "type":"string",
      "sensitive":true
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "Sha256Checksum":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"(?:[A-Za-z0-9+\\/]{4})*(?:[A-Za-z0-9+\\/]{4}|[A-Za-z0-9+\\/]{3}=|[A-Za-z0-9+\\/]{2}={2})"
    },
    "SkillDescription":{
      "type":"string",
      "max":500,
      "min":1
    },
    "SkillFilter":{
      "type":"structure",
      "members":{
        "accessFilter":{"shape":"AccessFilter"},
        "statusFilter":{"shape":"SkillStatus"}
      },
      "union":true
    },
    "SkillName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "SkillStatus":{
      "type":"string",
      "enum":[
        "PENDING_UPLOAD",
        "ACTIVE",
        "DEPRECATED",
        "DELETED",
        "UPDATE_IN_PROGRESS"
      ]
    },
    "SkillSummary":{
      "type":"structure",
      "required":[
        "skillName",
        "description",
        "visibility",
        "status"
      ],
      "members":{
        "skillName":{"shape":"SkillName"},
        "description":{"shape":"SkillDescription"},
        "visibility":{"shape":"SkillVisibility"},
        "status":{"shape":"SkillStatus"}
      }
    },
    "SkillSummaryList":{
      "type":"list",
      "member":{"shape":"SkillSummary"}
    },
    "SkillVersionData":{
      "type":"structure",
      "required":[
        "version",
        "status"
      ],
      "members":{
        "version":{"shape":"SemanticVersion"},
        "status":{"shape":"UpdateSkillStatus"}
      }
    },
    "SkillVersionStatus":{
      "type":"string",
      "enum":[
        "PENDING_UPLOAD",
        "ACTIVE",
        "DEPRECATED",
        "DELETED",
        "UPDATE_IN_PROGRESS"
      ]
    },
    "SkillVersionSummary":{
      "type":"structure",
      "required":[
        "version",
        "versionStatus",
        "createdAt"
      ],
      "members":{
        "version":{"shape":"SemanticVersion"},
        "versionStatus":{"shape":"SkillVersionStatus"},
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "SkillVersionSummaryList":{
      "type":"list",
      "member":{"shape":"SkillVersionSummary"}
    },
    "SkillVisibility":{
      "type":"string",
      "enum":[
        "PUBLIC",
        "PRIVATE"
      ]
    },
    "StopAgentConfig":{
      "type":"structure",
      "required":[
        "enableStoppingWindow",
        "stoppingTimeWindowInMinutes"
      ],
      "members":{
        "enableStoppingWindow":{"shape":"Boolean"},
        "stoppingTimeWindowInMinutes":{"shape":"StopAgentConfigStoppingTimeWindowInMinutesInteger"}
      }
    },
    "StopAgentConfigStoppingTimeWindowInMinutesInteger":{
      "type":"integer",
      "box":true,
      "max":20
    },
    "String":{"type":"string"},
    "SuggestedActionList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateAgentInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"name"
        },
        "customerConfiguredAgentDependencies":{
          "shape":"AgentDependencyList",
          "documentation":"<p>Update the list of customer configured agent dependencies for the current agent</p>"
        },
        "marketplaceMetadata":{
          "shape":"MarketplaceMetadata",
          "documentation":"<p>Only applicable for market place agents to get the metadata related to the market place registration</p>"
        },
        "deprecated":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the agent is deprecated</p>"
        }
      }
    },
    "UpdateAgentOutput":{
      "type":"structure",
      "members":{}
    },
    "UpdatePublisherAccessControlInput":{
      "type":"structure",
      "required":[
        "agentName",
        "customerAccountId",
        "accessControl"
      ],
      "members":{
        "agentName":{
          "shape":"AgentName",
          "location":"uri",
          "locationName":"agentName"
        },
        "customerAccountId":{
          "shape":"AccountId",
          "location":"uri",
          "locationName":"customerAccountId"
        },
        "accessControl":{"shape":"AccessControl"},
        "idempotencyToken":{
          "shape":"String",
          "idempotencyToken":true
        }
      }
    },
    "UpdatePublisherAccessControlOutput":{
      "type":"structure",
      "members":{}
    },
    "UpdateSkillAccessControlInput":{
      "type":"structure",
      "required":[
        "skillName",
        "skillUserAccountId",
        "accessStatus"
      ],
      "members":{
        "skillName":{"shape":"SkillName"},
        "skillUserAccountId":{"shape":"AccountId"},
        "accessStatus":{"shape":"AccessStatus"},
        "idempotencyToken":{"shape":"IdempotencyToken"}
      }
    },
    "UpdateSkillAccessControlOutput":{
      "type":"structure",
      "members":{}
    },
    "UpdateSkillMetadataInput":{
      "type":"structure",
      "required":["skillName"],
      "members":{
        "skillName":{
          "shape":"SkillName",
          "location":"uri",
          "locationName":"skillName"
        },
        "description":{"shape":"SkillDescription"},
        "skillVersionData":{"shape":"SkillVersionData"},
        "visibility":{"shape":"SkillVisibility"},
        "deprecate":{"shape":"Boolean"},
        "idempotencyToken":{"shape":"IdempotencyToken"}
      }
    },
    "UpdateSkillMetadataOutput":{
      "type":"structure",
      "required":[
        "skillName",
        "description",
        "visibility",
        "updatedAt"
      ],
      "members":{
        "skillName":{"shape":"SkillName"},
        "description":{"shape":"SkillDescription"},
        "visibility":{"shape":"SkillVisibility"},
        "versionData":{"shape":"SkillVersionData"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateSkillStatus":{
      "type":"string",
      "enum":["ACTIVE"]
    },
    "Uuid":{
      "type":"string",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "ValidateAgentSetupInput":{
      "type":"structure",
      "required":[
        "agentName",
        "agentVersion"
      ],
      "members":{
        "agentName":{"shape":"AgentName"},
        "agentVersion":{"shape":"SemanticVersion"}
      }
    },
    "ValidateAgentSetupOutput":{
      "type":"structure",
      "required":[
        "valid",
        "checks"
      ],
      "members":{
        "valid":{"shape":"Boolean"},
        "checks":{"shape":"ValidationCheckList"}
      }
    },
    "ValidationCheck":{
      "type":"structure",
      "required":[
        "checkName",
        "passed"
      ],
      "members":{
        "checkName":{"shape":"String"},
        "passed":{"shape":"Boolean"},
        "message":{"shape":"String"}
      }
    },
    "ValidationCheckList":{
      "type":"list",
      "member":{"shape":"ValidationCheck"}
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "FIELD_VALIDATION_FAILED",
        "OTHER"
      ]
    },
    "VersionStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "IN_VERIFICATION",
        "ACTIVE",
        "VERIFICATION_FAILED"
      ]
    },
    "WarmPoolArn":{
      "type":"string",
      "pattern":"(arn:aws:mde:[a-z0-9-]+:[0-9]{12}:/warmpools/).+.*"
    }
  },
  "clientContextParams":{
    "Stage":{
      "documentation":"The service stage this client will connect to",
      "type":"string"
    }
  }
}
